<!-- blog_widget_blogs_title -->
<div id="blog" class="blog">
    <div class="container"> 
      <div class="blog-title text-center">
        <h3>Our Blog</h3>
      </div>
<!-- END -->

<!-- blog_widget_blogs_head -->
      <div class="agileits-blog-grids row">
<!-- END -->
<!-- blog_widget_blogs_content -->
        <div class="col-md-6 w3-agileits-blog-grid row">
          <div class="col-sm-4 col-xs-3 blog-left">
            <h4 class="text-primary mb-0">$date/$date2</h4>
            <ul>
              <li>Posted : <a href="#">$nickname</a></li>
              <li>Comments : ($comments)</li>
            </ul>
          </div>
          <div class="col-sm-8 col-xs-9 blog-right">
            <a href="index.php?site=blog&action=show&blogID=$blogID" data-toggle="modal" data-target="#myModal">$headline</a>
            <p>$msg</p>
          </div>
          <div class="clearfix"><br></div>
        </div>
        
<!-- END -->
<!-- blog_widget_blogs_foot -->
      </div> 
    </div>
</div>
<!-- END -->