<!-- one_box_content -->
<div class="thirdbox">
    <div class="container">
         <div class="row">
          <div class="col-sm-4">
            <div class="four-box-pic backcolor-blue color-white"><i class="bi bi-eye" style="font-size: 2rem;"></i></div>
			
            <div class="four-box-txt">
                <span class="size-100 upp"><h4 class="lineheight20">FULL responsive</h4></span>
                <span class="size-100 upp color-gray">Looks awesome on any device</span> <br />
                <br /><br />
                The new version was adjusted with bootstrap so that it's possible 
                to display your website perfect on any device. Test it now..
            </div>
          </div>
          <div class="col-sm-4">
            <div class="four-box-pic backcolor-blue color-white"><i class="bi bi-gear" style="font-size: 2rem;"></i></div>
            <div class="four-box-txt">
                <span class="size-100 upp"><h4 class="lineheight20">Add-on & mods</h4></span>
                <span class="size-100 upp color-gray">expand your system</span> <br />
                <br /><br />
                With the Add-ons and modifications you can get your own individual 
                system. Whether a navigation addon or a recaptcha mod, or, or, or.. 
            </div>        
          </div>
          <div class="col-sm-4">
                <div class="four-box-pic backcolor-blue color-white"><i class="bi bi-person" style="font-size: 2rem;"></i></div>
                <div class="four-box-txt">
                    <span class="size-100 upp"><h4 class="lineheight20">Community</h4></span>
                    <span class="size-100 upp color-gray">helping each other</span> <br />
                    <br /><br />
                    If you have issues or problems. The community about webspell can help to solve
                    a lots of problems. 
                </div>        
         </div>
        </div>
    </div>
</div>
<!-- END -->