<!-- two_box_content -->
<div class="fourbox">
    <div class="container">
         <div class="row">
          <div class="col-sm-4">
            <div class="four-box-pic backcolor-blue color-white"><i class="bi bi-globe" style="font-size: 2rem;"></i></div>
            <div class="four-box-txt">
                <span class="size-100 upp"><h4 class="lineheight20">Letzte Neuigkeit</h4></span>
                <span class="size-100 upp color-gray">Other headlines</span> <br />
                <br /><br />
                <?php #include("sc_headlines.php"); ?>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="four-box-pic backcolor-blue color-white"><i class="bi bi-globe" style="font-size: 2rem;"></i></div>
            <div class="four-box-txt">
                <span class="size-100 upp"><h4 class="lineheight20">Dateien</h4></span>
                <span class="size-100 upp color-gray">Latest files overview</span> <br />
                <br /><br />
                <?php #include("sc_files.php"); ?> 
            </div>        
          </div>
          <div class="col-sm-4">
                <div class="four-box-pic backcolor-blue color-white"><i class="bi bi-globe" style="font-size: 2rem;"></i></div>
                <div class="four-box-txt">
                    <span class="size-100 upp"><h4 class="lineheight20">Sprachwahl</h4></span>
                    <span class="size-100 upp color-gray">Select your language</span> <br />
                    <br /><br />
                    <?php #include("sc_language.php"); ?> 
                </div>        
         </div>
        </div>
    </div>
</div>
<!-- END -->


<!-- two_box_head -->
<div class="fourbox">
    <div class="container">
         <div class="row">
<!-- END -->

<!-- two_box_headlines_head -->

<div class="col-sm-4">
            <div class="four-box-pic backcolor-blue color-white"><i class="bi bi-newspaper" style="font-size: 2rem;"></i></div>
            <div class="four-box-txt">
                <span class="size-100 upp"><h4 class="lineheight20">$news</h4></span>
                <span class="size-100 upp color-gray">$headlines-title</span> <br />
                <br /><br />
<ul class="list-group">
<!-- END -->

<!-- two_box_headlines_content -->
<li class="list-group">
$line
</li> 
<!-- END -->

<!-- two_box_headlines_foot -->
</ul>
</div>
          </div>
<!-- END -->

<!-- two_box_latesttopics_head -->

<div class="col-sm-4">
                <div class="four-box-pic backcolor-blue color-white"><i class="bi bi-card-text" style="font-size: 2rem;"></i></div>
                <div class="four-box-txt">
                    <span class="size-100 upp"><h4 class="lineheight20">$title</h4></span>
                    <span class="size-100 upp color-gray">$news-title</span> <br />
                    <br /><br />
<ul class="list-group">                    
<!-- END -->

<!-- two_box_latesttopics_content -->
<!--<div>$lang_board: $boardlink</div>-->
<li class="list-group">
  $topiclink
</li>
  <!--<div><small>$lang_last_post: $last_poster $date</small></div><hr>-->
<!--<a href="$topiclink" class="list-group-item list-group-item-action" data-toggle="tooltip" data-html="true" title="<b>$topictitle</b><br>$last_poster<br>$date<br>$lang_board: $board"><strong><i class="bi bi-chat-fills"> </i> $topictitle</strong> <spam class="float-right">$replys Antworten</spam></a>-->
<!-- END -->

<!-- two_box_latesttopics_foot -->
</ul>
</div>
</div>

<!-- END -->

<!-- two_box_files_head -->

<div class="col-sm-4">
            <div class="four-box-pic backcolor-blue color-white"><i class="bi bi-download" style="font-size: 2rem;"></i></div>
            <div class="four-box-txt">
                <span class="size-100 upp"><h4 class="lineheight20">$downloads</h4></span>
                <span class="size-100 upp color-gray">$downloads-title</span> <br />
                <br /><br />
<ul class="list-group">
<!-- END -->

<!-- two_box_files_content -->
<li class="list-group">
$download
</li>
<!-- END -->
<!-- two_box_files_foot -->
</ul>
</div>        
          </div>
<!-- END -->

<!-- two_box_foot -->
</div>
    </div></div>
<!-- END -->