/*----------navigation default---------------*/
@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu{ 
    display: none;    
    background-color: transparent;
    border-color: transparent; 
  }
  .navbar .nav-item:hover .nav-link{ 
    outline: none;
    height: 99px;  
  }
  .navbar .nav-item:hover .dropdown-menu{ 
    display: block; 
  }
  .navbar .nav-item .dropdown-menu{ 
    top: 84px;
    left: -1px;
  }
  
}

/*----------navigation Logo---------------*/

.box {

}

.box span {
 display: block;
}

.logo-box .logo {
 margin-top: 0px;
}

.logo-box .box .webspell {
 font-size: 20px;
 font-weight: 600;
}

.logo-box .box .slogan {
 font-size: 12px;
 font-weight: 600;
}


/* Direkt Link */
.nav-head{white-space:nowrap;}

.masthead {
  
  background-image: url("/includes/plugins/navigation_sticky/images/header-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}

.masthead_small {
  background-image: url("/includes/plugins/navigation_sticky/images/header-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}

header.masthead h1 {
  color: #fff;
}

header.masthead p {
  color: #fff;
}

#navigation_modul {height: 100%;}

