/* Customize twitter service colors */
    div[data-service="instagram"]{
    --im-btn-bg: #C13584;
    background-image: url('/includes/plugins/instagram/images/instagram-offline.png');
    background-repeat: no-repeat; 
    background-size: 30%;
    background-position: 50% 0%;
    }
.card-columns-inst .card{
  margin-bottom:.75rem
}

@media (min-width:576px){
  .card-columns-inst{
  -webkit-column-count:3;
  -moz-column-count:3;
  column-count:3;
  -webkit-column-gap:1.25rem;
  -moz-column-gap:1.25rem;
  column-gap:1.25rem;
  orphans:1;widows:1;

  }
  .card-columns-inst .card{
  display:inline-block;
  width:100%;
  }

  i1mg {border-radius: var(--bs-border-radius);}
  }
  
    /* Add custom tiktok icon */
  div[data-service="instagram"] .c-n-c .c-l-b::before{
    border: none!important; /* remove default "play" arrow icon */
    height: 15px;
    width: 15px;
    background-image: url('/includes/plugins/instagram/images/instagram.svg');
    filter: invert(100%) sepia(0%) saturate(7453%) hue-rotate(135deg) brightness(114%) contrast(117%);}
