<!-- portfolio_widget_title_head -->
<div class="portfolio" id="gallery">
	<div class="container">
		<div class="portfolio-title"> 
			<h3>Our Games</h3> 
		</div>
		<div class="agileits-portfolio-grids">
<!-- END -->
<!-- portfolio_widget_category -->
			<div style="text-align: center;">
				<button class="btn btn-dark filter-button" data-filter="all" style="margin-top: 5px;">$lang_all</button>
<!-- END -->
<!-- portfolio_widget_content -->
				$portfoliocatname
<!-- END -->
<!-- portfolio_widget_foot -->
			</div><br>
<!-- END -->
<!-- portfolio_widget_cat_all -->
			<div>	 
<!-- END -->
<!-- portfolio_widget_cat_head -->
				<div class="container"> 
					<div class="row">	
<!-- END -->
<!-- portfolio_widget_cat -->
						<div class="col-lg-4 col-xs-12 col-sm-12 filter $portfoliocatID" style="margin: 0px -12px 0px -12px;">
							<div class="portfolio-item-sc">
								<a  data-fancybox  data-src="/includes/plugins/portfolio/images/$pic"  data-type="image" data-caption="$name">
								<!-- <a class="" href="#" data-image-id="" data-bs-toggle="modal" data-title="" data-image="/includes/plugins/portfolio/images/$pic" data-target="#image-gallery"> -->
									<img class="img-fluid sh1adow" src="/includes/plugins/portfolio/images/$pic" alt="">
								</a>
								<div class="portfolio-overlay">
									<div class="overlay-content">
										<p class="category">$name</p>
										<a href="$url">
											<div class="magnify-icon">
												<p><span><i class="bi bi-link" aria-hidden="true"></i></span></p>
											</div>
										</a>
										<a  data-fancybox  data-src="/includes/plugins/portfolio/images/$pic"  data-type="image" data-caption="$name">
										<!-- <a class="lightbox" href="/includes/plugins/portfolio/images/$pic" data-lightbox="image-1"> -->
											<div class="magnify-icon">
												<p><span><i class="bi bi-search" aria-hidden="true"></i></span></p>
											</div>
										</a>
										<p class="category2">$text</p>
									</div>
								</div>
							</div>
						</div>
<!-- END -->
<!-- portfolio_widget_cat_foot --> 
					</div>		  
				</div>
			</div>
		</div>
	</div>
</div>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
		<script>
			baguetteBox.run('.grid-gallery', { animation: 'slideIn'});
		</script> -->
<!-- END -->
<!-- portfolio_widget_cat_foot_no --> 
	</div>
</div>
<!-- END -->

