<!-- portfolio_title_head -->
<div class="head-boxes">
    <span class="head-boxes-head">$title</span>
<h2 class="head-h2">
    <span class="head-boxes-title">$title</span>
</h2>
    <p class="head-boxes-foot">$subtitle</p>
</div>
<!-- END -->

<!-- portfolio_category -->
<div style="text-align: center;">
<button class="btn btn-dark filter-button" data-filter="all" style="margin-top: 5px;">$lang_all</button>
<!-- END -->

<!-- portfolio_content -->
$portfoliocatname
<!-- END -->

<!-- portfolio_foot -->
</div><br>
<!-- END -->

<!-- portfolio_cat_all -->
<div>    
<!-- END -->

<!-- portfolio_cat_head --> 
                <div class="card-columns" style="background-color: transparent;">
 <!-- END -->

<!-- portfolio_cat -->

                        <div class="filter $portfoliocatID" style="margin: 0px -10px 0px -10px;">
                            <div class="portfolio-item">
                                <a  data-fancybox  data-src="/includes/plugins/portfolio/images/$pic"  data-type="image" data-caption="$name">
                                <!-- <a class="" href="#" data-image-id="" data-bs-toggle="modal" data-title="" data-image="/includes/plugins/portfolio/images/$pic" data-target="#image-gallery"> -->
                                    <img class="img-fluid sh1adow" src="/includes/plugins/portfolio/images/$pic" alt="">
                                </a>
                                <div class="portfolio-overlay">
                                    <div class="overlay-content">
                                        <p class="category">$name</p>
                                        <a href="$url">
                                            <div class="magnify-icon">
                                                <p><span><i class="bi bi-link" aria-hidden="true"></i></span></p>
                                            </div>
                                        </a>
                                        <a  data-fancybox  data-src="/includes/plugins/portfolio/images/$pic"  data-caption="$name">
                                        <!-- <a class="lightbox" href="/includes/plugins/portfolio/images/$pic" data-lightbox="image-1">-->
                                            <div class="magnify-icon">
                                                <p><span><i class="bi bi-search" aria-hidden="true"></i></span></p>
                                            </div>
                                        </a>
                                        <p class="category2">$text</p>
                                    </div>
                                </div>
                            </div>
                        </div>
<!-- END -->

<!-- portfolio_cat_foot --> 
    </div>
</div>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
        <script>
            baguetteBox.run('.grid-gallery', { animation: 'slideIn'});
        </script> -->

 <!-- END -->

<!-- portfolio_sc_title_head -->
<div class="card">
    <div class="card-body">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12"><h2 class="text-center">Gaming Gallery</h2></div>
                <div class="col-md-12 text-center">GAME OF DESIGN</div>  
            </div>
        </div>
        <br><br>
<!-- END -->

<!-- portfolio_sc_title_head_two -->
<div class="portfolio" id="gallery">
        <div class="container">
            <div class="agileits-title"> 
                <h3>Our Games</h3> 
            </div>
<!-- END -->


<!-- portfolio_sc_category -->
            <div style="text-align: center;">
                <button class="btn btn-dark filter-button" data-filter="all">$lang_all</button>
<!-- END -->

<!-- portfolio_sc_cat_head --> 
                <div class="container"> 
                    <div class="row">
 <!-- END -->

<!-- portfolio_sc_cat -->
                        <div class="col-lg-4 col-xs-12 col-sm-12 filter $portfoliocatID" style="margin: 0px -4px 0px -4px;">
                            <div class="portfolio-item-sc">
	                            <a  data-fancybox  data-src="/includes/plugins/portfolio/images/$pic"  data-caption="$name">
                                <!-- <a class="" href="#" data-image-id="" data-bs-toggle="modal" data-title="" data-image="/includes/plugins/portfolio/images/$pic" data-target="#image-gallery"> -->
                                    <img class="img-fluid sh1adow" src="/includes/plugins/portfolio/images/$pic" alt="">
                                </a>
                                <div class="portfolio-overlay">
                                    <div class="overlay-content">
                                        <p class="category">$name</p>
                                        <a href="$url">
                                            <div class="magnify-icon">
                                                <p><span><i class="bi bi-link" aria-hidden="true"></i></span></p>
                                            </div>
                                        </a>
                                        <!-- <a class="lightbox" href="/includes/plugins/portfolio/images/$pic" data-lightbox="image-1"> -->
                                        <a  data-fancybox  data-src="/includes/plugins/portfolio/images/$pic"  data-caption="$name">
                                            <div class="magnify-icon">
                                                <p><span><i class="bi bi-search" aria-hidden="true"></i></span></p>
                                            </div>
                                        </a>
                                        <p class="category2">$text</p>
                                    </div>
                                </div>
                            </div>
                        </div>
<!-- END -->

 <!-- portfolio_sc_cat_foot -->        
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
        <script>
            baguetteBox.run('.grid-gallery', { animation: 'slideIn'});
        </script> -->
<!-- END -->

 <!-- portfolio_sc_cat_foot_two -->        
    </div>
</div>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
        <script>
            baguetteBox.run('.grid-gallery', { animation: 'slideIn'});
        </script> -->
</div></div>
<!-- END -->
  <!-- portfolio_sc_cat_foot_no --> 
    </div>
</div>
 <!-- END -->