<!-- mc_status_title -->
<div class="head-boxes">
    <span class="head-boxes-head">$title</span>
<h2 class="head-h2">
    <span class="head-boxes-title">$title</span>
</h2>
    <p class="head-boxes-foot">$subtitle</p>
</div>
<!-- END -->
<!-- mc_status_content -->
<div class="card">
        <div class="card-body">
                    <!--<div class="col-md" style="display: flex; justify-content: center; align-items: center;">-->
                      <!--   <div class="col-md text-center"><strong>$lang_adresse:</strong> <span style="color: #008000;"><b> $xname</b></span><br /><img src="includes/plugins/mc_status/images/$status.png" alt="status" /></div>
                        <div class="col-md"><strong>Server Name:</strong> $pname<br /><strong>$lang_version:</strong> $version<br /><strong>$lang_player:</strong> $ponline / $pmax<br /></div>
                        <div class="col-md"><strong>Text 1:</strong> $ptext<br /><strong>Text 2:</strong> $xtext<br /><strong>Text 3:</strong> $ytext</div>
                        <div class="col-md"><strong>Type:</strong> $ptype</div>-->

                        <div style="display: flex; justify-content: center; align-items: center;"><img src="includes/plugins/mc_status/images/$status.png" alt="status" /></div>
                        <strong>$lang_adresse:</strong> <span  style="color: #008000;"><b>$xname</b></span><br />
                        <strong>$lang_version:</strong> $version<br />
                        <strong>$lang_player:</strong> $ponline / $pmax<br />
</div><hr>                    
 </div>                   
<!-- END -->
<!-- mc_status_foot -->
               
<!-- END -->

<!-- mc_status_widget_title -->
    <div class="card">
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="text-center">$lang_title</h2>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
<!-- END -->
<!-- mc_status_widget_content -->
                    <div class="col-md">
                        <div style="display: flex; justify-content: center; align-items: center;"><img src="includes/plugins/mc_status/images/$status.png" alt="status" /></div>
                        <strong>$lang_adresse:</strong> <span  style="color: #008000;"><b>$xname</b></span><br />
                        <strong>$lang_version:</strong> $version<br />
                        <strong>$lang_player:</strong> $ponline / $pmax<br />
                        
                         <hr>
                    </div>
                   
<!-- END -->
<!-- mc_status_widget_foot -->
                </div>
            </div>
        </div>
    </div>
    <br>
<!-- END -->