<!-- switchsquads_navi -->
<div class="featured">
    
        <div class="col-md-12">
            <h2 class="text-center">TEAM ROSTER</h2></div>
                <div class="col-md-12 text-center">THE STARS OF US</div>
                    <div class="col-md-12 text-center">$icon_small</div> 
                        
    </div>  
    <div class="featured">
        <div class="container">
                

<script>
    $BgPics
    function changeViewedSquad(a){
        var squads = document.getElementsByClassName("switchsquad");
        for (var i = 0; i < squads.length; i++) {
          squads[i].style.display = "none";
        }
        document.getElementById("squad_"+a).style.display = "";
        document.getElementById("switchsquads_bg").style.backgroundImage = "url('./images/squadicons/"+BgPics[a]+"')";
    }
    document.getElementById("switchsquads_bg").style.backgroundImage = "url('./images/squadicons/$firstsquad.jpg')";
</script>
<!-- END -->
<!-- switchsquads_player -->
<div class="col box_nickname">
    $userpic
</div>                   
<!-- END -->
<!-- switchsquads_foot -->
        <br>
        </div>
    </div>
</div>
<!-- END -->

<!-- switchsquads_content_title -->
<div class="container-fluid"> 
        <div class="col-md-12 text-center"><h2>TEAMS</h2><br>THE STARS OF US</div>                  
<div class="row">   
<!-- END -->
<!-- switchsquads_content_head -->
<div class="col" id="heading$squadID">
    <div class="squadpic" style="background-image: url($icon)">
        <h5 class="mb-0">
            <a class="btn btn-link" type="button" href="index.php?site=squads&action=show&squadID=$squadID"><h4>$name <small>($anzmembers)</small></h4></a>
        </h5>
    </div>
</div>
<!-- END -->
<!-- switchsquads_content_foot -->
</div></div>
<!-- END -->

<!-- switchsquads_sc_title -->
<div class="head-boxes">
    <span class="head-boxes-head">$title</span>
<h2 class="head-h2">
    <span class="head-boxes-title">$title</span>
</h2>
    <p class="head-boxes-foot">$subtitle</p>
</div>
<!-- END -->
<!-- switchsquads_sc_content_head -->
<div class="card">
    <div class="card-body widget" style="margin: -12px -12px -12px -12px;"> 
<!-- END -->
<!-- switchsquads_sc_content -->
<!--<tr>
    <td align="center" valign="middle"><a href="index.php?site=squads&amp;action=show&amp;squadID=$squadID">$squadicon</a>
    <br /><a href="index.php?site=squads&amp;action=show&amp;squadID=$squadID">$squadname</a></td>
</tr>-->

<li class="list-group-item">
<a href="index.php?site=squads&amp;action=show&amp;squadID=$squadID">$squadicon</a>
    <br /><a href="index.php?site=squads&amp;action=show&amp;squadID=$squadID">$squadname</a>
</li>    
<!-- END -->
<!-- switchsquads_sc_content_foot -->
</div></div>
<!-- END -->