<!-- features_box_one_content -->
<div class="markets second_body" id="markets">
	<div class="container">
		<div class="markets-title"> 
			<h3>$our_services</h3>
		</div>
		<div class="agileits-mark1ets-grids row">
			<div class="col-md-4 w3ls-markets-grid">
				<div class="agileits-icon-grid">
					<div class="icon-left">
						<i class="bi bi-controller text-white" style="font-size: 2rem;" aria-hidden="true"></i>
					</div>
					<div class="icon-right">
						<h5>$title_one</h5>
						<p>$text_one</p>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<div class="col-md-4 w3ls-markets-grid">
				<div class="agileits-icon-grid">
					<div class="icon-left">
						<i class="bi bi-trophy text-white" style="font-size: 2rem;" aria-hidden="true"></i>
					</div>
					<div class="icon-right">
						<h5>$title_two</h5>
						<p>$text_two</p>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<div class="col-md-4 w3ls-markets-grid">
				<div class="agileits-icon-grid">
					<div class="icon-left">
						<i class="bi bi-person text-white" style="font-size: 2rem;" aria-hidden="true"></i>
					</div>
					<div class="icon-right">
						<h5>$title_three</h5>
						<p>$text_three</p>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>

			<div class="col-md-4 w3ls-markets-grid">
				<div class="agileits-icon-grid">
					<div class="icon-left">
						<i class="bi bi-hand-thumbs-up text-white" style="font-size: 2rem;" aria-hidden="true"></i>
					</div>
					<div class="icon-right">
						<h5>$title_four</h5>
						<p>$text_four</p>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<div class="col-md-4 w3ls-markets-grid">
				<div class="agileits-icon-grid">
					<div class="icon-left">
						<i class="bi bi-chat-square-dots text-white" style="font-size: 2rem;" aria-hidden="true"></i>
					</div>
					<div class="icon-right">
						<h5>$title_five</h5>
						<p>$text_five</p>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<div class="col-md-4 w3ls-markets-grid">
				<div class="agileits-icon-grid">
					<div class="icon-left">
						<i class="bi bi-envelope text-white" style="font-size: 2rem;" aria-hidden="true"></i>
					</div>
					<div class="icon-right">
						<h5>$title_six</h5>
						<p>$text_six</p>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!-- END -->

<!-- features_box_two_content -->
<div class="features">
    <div class="container">
        <div class="row">
            <div class="col-md-4 w3ls-markets-grid">
                <div class="agileits-icon-grid">
                    <div class="row">
                        <div class="icon-left-1">
                            <i class="bi bi-eye text-white" style="font-size: 2rem;" aria-hidden="true"></i>
                        </div>
                        <div class="icon-right-1">
                            <h4>$title_one</h4>
                            $title_small_one
                        </div>
                        <div><br>
                            <p>$text_one</p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 w3ls-markets-grid">
                <div class="agileits-icon-grid">
                    <div class="row">
                        <div class="icon-left-1">
                            <i class="bi bi-gear text-white" style="font-size: 2rem;" aria-hidden="true"></i>
                        </div>
                        <div class="icon-right-1">
                            <h4>$title_two</h4>
                            $title_small_two
                        </div>
                        <div><br>
                            <p>$text_two</p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 w3ls-markets-grid">
                <div class="agileits-icon-grid">
                    <div class="row">
                        <div class="icon-left-1">
                            <i class="bi bi-people-fill text-white" style="font-size: 2rem;" aria-hidden="true"></i>
                        </div>
                        <div class="icon-right-1">
                            <h4>$title_three</h4>
                            $title_small_three
                        </div>
                        <div><br>
                            <p>$text_three</p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>

            
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- END -->
<!-- features_box_three_head -->
<div class="features">
    <div class="container">
        <div class="row">
<!-- END -->

<!-- features_box_three_headlines_head -->
<div class="col-md-4 w3ls-markets-grid">
                <div class="agileits-icon-grid">
                    <div class="row">
                        <div class="icon-left-1">
                            <i class="bi bi-newspaper text-white" style="font-size: 2rem;" aria-hidden="true"></i>
                        </div>
                        <div class="icon-right-1">
                            <h4>$news</h4>
                            $headlines-title
                        </div>
                        <div>
                        	<br>
<ul class="list-group">
<!-- END -->

<!-- features_box_three_headlines_content -->
<li class="list-group-item">
	$line
</li>    
<!-- END -->

<!-- features_box_three_headlines_foot -->
</ul>
</div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
<!-- END -->



<!-- features_box_three_latesttopics_head -->
<div class="col-md-4 w3ls-markets-grid">
                <div class="agileits-icon-grid">
                    <div class="row">
                        <div class="icon-left-1">
                            <i class="bi bi-globe text-white" style="font-size: 2rem;" aria-hidden="true"></i>
                        </div>
                        <div class="icon-right-1">
                            <h4>$title</h4>
                            $news-title
                        </div>
                        <div>
                        	<br>
<ul class="list-group">
<!-- END -->

<!-- features_box_three_latesttopics_content -->
<!--<div>$lang_board: $boardlink</div>-->
<li class="list-group-item">
    $topiclink
</li>
  <!--<div><small>$lang_last_post: $last_poster $date</small></div><hr>-->
<!--<a href="$topiclink" class="list-group-item list-group-item-action" data-toggle="tooltip" data-html="true" title="<b>$topictitle</b><br>$last_poster<br>$date<br>$lang_board: $board"><strong><i class="bi bi-chat-fills"> </i> $topictitle</strong> <spam class="float-right">$replys Antworten</spam></a>-->
<!-- END -->

<!-- features_box_three_latesttopics_foot -->
</ul>
</div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>

<!-- END -->

<!-- features_box_three_files_head -->
<div class="col-md-4 w3ls-markets-grid">
                <div class="agileits-icon-grid">
                    <div class="row">
                        <div class="icon-left-1">
                            <i class="bi bi-download text-white" style="font-size: 2rem;" aria-hidden="true"></i>
                        </div>
                        <div class="icon-right-1">
                            <h4>$downloads</h4>
                            $downloads-title
                        </div>
                        <div>
                        	<br>
<ul class="list-group">
<!-- END -->

<!-- features_box_three_files_content -->
<li class="list-group-item">
	$download
</li>

<!-- END -->
<!-- features_box_three_files_foot -->
</ul>
</div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
<!-- END -->

<!-- features_box_three_foot -->
<div class="clearfix"> </div>
</div>
</div>
</div>
<!-- END -->

<!-- features_box_four_head -->
<div class="features">
    <div class="container">
        <div class="row">
<!-- END -->
<!-- features_box_four_content_about -->

<div class="col-md-4 w3ls-markets-grid">
                <div class="agileits-icon-grid" style="height: 340px">
                    <div class="row">
                        <div class="icon-left-1">
                            <i class="bi bi-file-person-fill text-white" style="font-size: 2rem;" aria-hidden="true"></i>
                        </div>
                        <div class="icon-right-1">
                            <h4>$title</h4>
                            Über mich
                        </div>
                        <div>
                        	<br>
                            <p>$text</p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
<!-- END -->
<!-- features_box_four_content_about_no -->
<div class="col-md-4 w3ls-markets-grid">
                <div class="agileits-icon-grid" style="height: 340px">
                    <div class="row">
                        <div class="icon-left-1">
                            <i class="bi bi-file-person-fill text-white" style="font-size: 2rem;" aria-hidden="true"></i>
                        </div>
                        <div class="icon-right-1">
                            <h4>About Us</h4>
                            Über mich
                        </div>
                        <div>
                            <p>$no_about</p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
<!-- END -->

<!-- features_box_four_head_video -->

<!-- END -->
<!-- features_box_four_content_video -->
<div class="col-md-4 w3ls-markets-grid">
                <div class="agileits-icon-grid" style="height: 340px">
                    <div class="row">
                        <div class="icon-left-1">
                            <i class="bi bi-youtube text-white" style="font-size: 2rem;" aria-hidden="true"></i>
                        </div>
                        <div class="icon-right-1">
                            <h4>$lang_title_video</h4>
                            $videoname
                        </div>
                        <div><br>
                            $preview
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
<!-- END -->
<!-- features_box_four_foot_video -->
<!-- END -->
<!-- features_box_four_content_video_no -->
<div class="col-md-4 w3ls-markets-grid">
                <div class="agileits-icon-grid" style="height: 340px">
                    <div class="row">
                        <div class="icon-left-1">
                            <i class="bi bi-youtube text-white" style="font-size: 2rem;" aria-hidden="true"></i>
                        </div>
                        <div class="icon-right-1">
                            <h4>Video</h4>
                            Screen
                        </div>
                        <div>
                            <p>$no_videos</p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
<!-- END -->
<!-- features_box_four_content_gallery -->

<div class="col-md-4 w3ls-markets-grid">
                <div class="agileits-icon-grid" style="height: 340px">
                    <div class="row">
                        <div class="icon-left-1">
                            <i class="bi bi-images text-white" style="font-size: 2rem;" aria-hidden="true"></i>
                        </div>
                        <div class="icon-right-1">
                            <h4>$lang_title_gallery</h4>
                            $gallery_name
                        </div>
                        <div>
                        	<br>
                            $banner
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
<!-- END -->
<!-- features_box_four_content_gallery_no -->

<div class="col-md-4 w3ls-markets-grid">
                <div class="agileits-icon-grid" style="height: 340px">
                    <div class="row">
                        <div class="icon-left-1">
                            <i class="bi bi-images text-white" style="font-size: 2rem;" aria-hidden="true"></i>
                        </div>
                        <div class="icon-right-1">
                            <h4>Gallery</h4>
                            PIC
                        </div>
                        <div>
                           <p>$no_gallery</p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
<!-- END -->
<!-- features_box_four_foot -->
        <div class="clearfix"> </div>
    </div>
</div>
</div>
<!-- END -->