<!-- features_one_content -->
<div class="markets second_body" id="markets">
	<div class="container">
		<div class="markets-title"> 
			<h3>$our_services</h3>
		</div>
		<div class="agileits-markets-grids row">
			<div class="col-md-4 w3ls-markets-grid">
				<div class="agileits-icon-grid">
					<div class="icon-left">
						<i class="bi bi-controller text-white" style="font-size: 2rem;" aria-hidden="true"></i>
					</div>
					<div class="icon-right">
						<h5>$title_one</h5>
						<p>$text_one</p>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<div class="col-md-4 w3ls-markets-grid">
				<div class="agileits-icon-grid">
					<div class="icon-left">
						<i class="bi bi-trophy text-white" style="font-size: 2rem;" aria-hidden="true"></i>
					</div>
					<div class="icon-right">
						<h5>$title_two</h5>
						<p>$text_two</p>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<div class="col-md-4 w3ls-markets-grid">
				<div class="agileits-icon-grid">
					<div class="icon-left">
						<i class="bi bi-person text-white" style="font-size: 2rem;" aria-hidden="true"></i>
					</div>
					<div class="icon-right">
						<h5>$title_three</h5>
						<p>$text_three</p>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>

			<div class="col-md-4 w3ls-markets-grid">
				<div class="agileits-icon-grid">
					<div class="icon-left">
						<i class="bi bi-hand-thumbs-up text-white" style="font-size: 2rem;" aria-hidden="true"></i>
					</div>
					<div class="icon-right">
						<h5>$title_four</h5>
						<p>$text_four</p>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<div class="col-md-4 w3ls-markets-grid">
				<div class="agileits-icon-grid">
					<div class="icon-left">
						<i class="bi bi-chat-square-dots text-white" style="font-size: 2rem;" aria-hidden="true"></i>
					</div>
					<div class="icon-right">
						<h5>$title_five</h5>
						<p>$text_five</p>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<div class="col-md-4 w3ls-markets-grid">
				<div class="agileits-icon-grid">
					<div class="icon-left">
						<i class="bi bi-envelope text-white" style="font-size: 2rem;" aria-hidden="true"></i>
					</div>
					<div class="icon-right">
						<h5>$title_six</h5>
						<p>$text_six</p>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!-- END -->
