
.social {
  width: 45px;
  height: auto;
  position: fixed;
  top: 30%;
  z-index: 10;
  left: 0;
  padding-left: 0;
  margin-left: 0;
  margin-top: 30px;
  perspective: 1000px;
}

.social li i{
  color: rgba(var(--bs-link-color),1);
  color:#000;

} 

.social li a {
  height: 43px;
  width: 43px;
  cursor:  pointer;
  display:  block;
  margin-bottom: 2px;
  font: normal normal normal 19px/42px  'FontAwesome', 'Source Sans Pro', Helvetica, Arial, sans-serif;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  padding: 2px;
  text-decoration: none;
  text-align: center;
  transition: background 0.5s ease 0.3ms;
  background-color: var(--bs-link-color);
}

.social li a:hover {
background-color: var(--bs-link-hover-color);
background-color: #000;
  
}

.social li a:focus {
  background-color: var(--bs-link-hover-color);
}

.social li:first-child a {
  /* border-radius: 0 5px 0 0; */
}

.social li:last-child a {
 /* border-radius: 0 0 5px 0;*/
}

li {
    list-style-type: none;
}

.social li a div {
  width: 100%;
  float: left;
  text-align: center;
  /*background: #e1ab06;*/
  position: absolute;
  display: table;
  color: #fff;
  left: 30px;
  margin: -43px 40px;
  padding: 2px;
  transform-origin: 0;
  visibility: hidden;
  opacity: 0;
  transform: rotateY(45deg);
  border-radius: 5px;
  transition: all 0.5s ease 0.3ms;
}

.social li div:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: -20px;
  top: 7px;
  /*border: 10px solid transparent;
  border-right: 10px solid #e1ab06;*/
}

.social li a:hover div {
  visibility: visible;
  opacity: 1;
  transform: rotateY(0);
}