<!-- sc_follow_us_content -->
<div class="ground container-fluid">
    <div class="social-media container">
        <div class="row">
            <div class="col-md-2">
                <h2>Follow us</h2><small> on Social Media</small>
            </div>
            <div class="col-md-10 text-center" style="margin-top: 0px;">
                $twitch
                $facebook
                $twitter
                $youtube
                $rss
                $vine
                $flickr
                $linkedin
                $instagram
                $steam
                $discord
            </div>
        </div>
    </div>
</div>  
<!-- END -->