<!-- sc_follow_us_content -->
<div class="ground container-fluid">
    <div class="social-media container">
    <div class="row">
                <div class="col-md-2">
                    <h2>Follow us</h2><small> on Social Media</small>
                    
                </div>
                <div class="col-md-10 text-center" style="margin-top: 15px;">
                    $twitch
                    $facebook
                    $twitter
                    $youtube
                    $rss
                    $vine
                    $flickr
                    $linkedin
                    $instagram
                    $steam
                    $discord
						<!--<span class="social1 social-media-circle twitch">$twitch</span>
                        <span class="social2 social-media-circle facebook">$facebook</span>
                        <span class="social3 social-media-circle twitter">$twitter</span>
                        <span class="social4 social-media-circle youtube">$youtube</span>
                        <span class="social5 social-media-circle rss">$rss</span>
                        <span class="social6 social-media-circle vine">$vine</span>
                        <span class="social7 social-media-circle flickr">$flickr</span>
                        <span class="social8 social-media-circle linkedin">$linkedin</span>
                        <span class="social9 social-media-circle instagram">$instagram</span>
                        <span class="social10 social-media-circle steam">$steam</span>
                        <span class="social11 social-media-circle discord">$discord</span>-->
                </div>
        </div>
</div>
</div>  
<!-- END -->