/* Customize tiktok service colors */
    div[data-service="tiktok"]{
        --im-btn-bg: #fe2c55;
		--im-btn-hover-bg:#bb238b;
		--im-link-color:#ff3b5c;
		--im-link-hover-color:#ff0000;
        background-image: url('/includes/plugins/tiktok/images/tiktok-offline.png');
        background-repeat: no-repeat; 
        background-size: 30%;
        background-position: 50% 0%;
    }

/* Add custom tiktok icon */
div[data-service="tiktok"] .c-n-c .c-l-b::before{
    border: none!important; /* remove default "play" arrow icon */
    height: 15px;
    width: 15px;
	background-image: url('/includes/plugins/tiktok/images/tiktok.svg');
	filter: invert(100%) sepia(0%) saturate(7453%) hue-rotate(135deg) brightness(114%) contrast(117%);
}

/*Gallery Portfolio Bildanordnung */
.card-columns-tiktok .card{
  margin-bottom:.75rem
}

@media (min-width:576px){
  .card-columns-tiktok{
  -webkit-column-count:3;
  -moz-column-count:3;
  column-count:3;
  -webkit-column-gap:1.25rem;
  -moz-column-gap:1.25rem;
  column-gap:1.25rem;
  orphans:1;widows:1;

  }
  .card-columns-tiktok .card{
  display:inline-block;
  width:100%;
  }
}