/* Customize server service colors */
    div[data-service="server_offline"]{
       
        background-image: url('/includes/plugins/servers/images/server-offline.jpg');
        background-repeat: no-repeat; 
        background-size: 560px 95px;

    }

    div[data-service="server"]{
        --im-btn-bg: #1DA1F2;
        background-image: url('/includes/plugins/servers/images/gametracker_offline.png');
        background-repeat: no-repeat; 
        background-size: 40%;
        background-position: 50% -10%;
        
    }