<!-- sc_summary_head -->
<div id="info_news" class="parallax" style="margin-top: 0px;border-radius: var(--bs-border-radius);">
    <div class="row" style="margin: 6px;">
<!-- END -->

<!-- sc_summary_articles_head -->
<div class="col-md-4" style="padding: -6px">
    <div class="col-md-12">    
    <div class="col-md-12">
<h2 class="summary-color text-center">$article</h2>
</div>
    <div class="col-md-12 text-center summary-color">$article-title</div>  
<br>
    <div style="margin: 6px"> 
        <ul class="list-group">
<!-- END -->

<!-- sc_summary_content_head -->

<!-- END -->

<!-- sc_summary_articles_content -->

<a href="index.php?site=articles&action=content&articleID=$articleID" class="list-group-item"><strong><i class="bi bi-globe"> </i> $question</strong></a>
<!-- END -->

<!-- sc_summary_articles_foot -->
</ul>
</div>
</div>
</div>
<!-- END -->

<!-- sc_summary_headlines_head -->
<div class="col-md-4" style="padding: -6px">
    <div class="col-md-12">    
    <div class="col-md-12">
<h2 class="summary-color text-center">$news</h2>
</div>
    <div class="col-md-12 text-center summary-color">$headlines-title</div>  
<br>
    <div style="margin: 6px"> 
<!-- END -->

<!-- sc_summary_headlines_content -->

    <a href="index.php?site=news_manager&action=news_contents&newsID=$news_id" class="list-group-item" data-toggle="tooltip" title="$date - $time"><strong><i class="bi bi-globe"> </i> $headline</strong></a>
<!-- END -->

<!-- sc_summary_headlines_foot -->
</div>
</div>
</div>
<!-- END -->

<!-- sc_summary_headlines_no_file -->
$no_news_uploaded
</div></div></div>
<!-- END -->
<!-- sc_summary_latesttopics_head -->
<div class="col-md-4">

    <div class="col-md-12">
   
    <div class="col-md-12">
<h2 class="summary-color text-center">$title</h2>
</div>
    <div class="col-md-12 text-center summary-color">$news-title</div>  
<br>
    <div style="margin: 6px"> 
<!-- END -->

<!-- sc_summary_latesttopics_content -->

 $topiclink

<!-- END -->

<!-- sc_summary_latesttopics_foot -->
</div>
</div>
</div>
<!-- END -->

<!-- sc_summary_latesttopics_no_file -->
$no_topics_uploaded
</div></div></div>
<!-- END -->

<!-- sc_summary_files_head -->
<div class="col-md-4">
    <div class="col-md-12">
    <div class="col-md-12">
<h2 class="summary-color text-center">$downloads</h2>
</div>
    <div class="col-md-12 text-center summary-color">$downloads-title</div>  
<br>
    <div style="margin: 6px"> 
<!-- END -->

<!-- sc_summary_files_content -->
<a href="index.php?site=files&amp;file=$fileID" class="list-group-item" data-toggle="tooltip" data-html="true" title="Downloads: $count"><strong><i class="bi bi-download"> </i> $filename</strong></a>

<!-- END -->
<!-- sc_summary_files_foot -->
</div>
</div>
</div>
<!-- END -->
<!-- sc_summary_files_no_file -->
$no_file_uploaded
</div></div></div>
<!-- END -->
<!-- sc_summary_foot -->
</div>
    </div><br>
<!-- END -->
