<!-- footer_box_content -->
<div class="footer">
<div class="container">
     <div class="row">
      <div class="col-sm-3 hidden-xs">
        <h4 class="font-light"><span class="color-blue font-normal">quick</span> Navigation</h4>
        <a href="index.php?site=news">Neuigkeiten</a><br />
        <a href="index.php?site=forum">Forum</a><br />
        <a href="index.php?site=contact">Kontakt</a><br />
        <a href="index.php?site=imprint">Impressum</a><br />
      </div>
      <div class="col-sm-3">
        <h4 class="font-light"><span class="color-blue font-normal">top</span> Partner</h4>
        <a href="https://www.webspell-rm.de" target="_blank">Webspell-RM.de</a><br />
        <a href="https://www.2one-designs.de" target="_blank">2one-Designs.de</a><br /> 
        <a href="https://www.gamer-templates.com/" target="_blank">Gamer-Templates.com</a><br />
        <a href="#" target="_blank">- your link -</a><br /> 
      </div>
      <div class="col-sm-3">
        <h4 class="font-light"><span class="color-blue font-normal">social</span> Network</h4>
        <a href="https://www.facebook.com/WebspellRM" target="_blank">Facebook</a><br />
        <a href="https://github.com/Webspell-RM/Webspell-RM" target="_blank">GitHub</a><br />
        <a href="https://discord.com/widget?id=428995618971582473&theme=dark" target="_blank">Discord</a><br />
        <a href="https://twitter.com/webspell_rm" target="_blank">Twitter</a><br />
      </div>
      <div class="col-sm-3">
        <h4 class="font-light"><span class="color-blue font-normal">top</span> Sponsors</h4>
        <a href="https://www.2one-designs.de" target="_blank">2one-Designs.de</a><br /> 
        <a href="https://www.gamer-templates.com/" target="_blank">Gamer-Templates.com</a><br />
        <a href="index.php?site=contact">- your link -</a><br />
        <a href="index.php?site=contact">- your link -</a><br />
      </div>      
    </div>
</div>
<div class="footercopy">
    <div class="container">
        <small>&copy;<?php echo date("Y"); ?> - <strong>Template</strong> ZENITH-Developments.de | <strong>modified</strong> Webspell-RM.de | <strong>CMS</strong> Webspell-RM </small>
    </div>
</div>
</div>
<!-- END -->