<!-- masterlist_head -->
<div class="head-boxes">
    <span class="head-boxes-head">Masterlist</span>
    <h2 class="head-h2">
        <span class="head-boxes-title">Masterlist</span>
    </h2>
    <p class="head-boxes-foot">Masterlist</p>
</div>
<!-- END -->
<!-- masterlist_content -->
<h2>Serverliste</h2>

<div class="row gx-0">
    <h1 class="visually-hidden">Call of Duty 1 guides and resources. Game server (master) lists for Call of Duty 1 through Call of Duty 4.</h1>
    <!-- Anzeige der aktuellen Version -->
<div class="current-version">
    <p>Aktuell ausgewählte Version: 
        
            $selected_version
       
    </p>
</div>
</div>

$select_setting

<br>
<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th>+</th><th>Servername</th><th>IP</th><th>Port</th><th>Spiel</th><th>Map</th><th>Spieler</th><th>Status</th>
        </tr>
    </thead>
    <tbody>
        $servers
        
    </tbody>
</table>
<!-- END -->