<!-- widget_forum_sidebar_head -->
<div class="head-boxes">
    <span class="head-boxes-head">$title</span>
<h2 class="head-h2">
    <span class="head-boxes-title">$title</span>
</h2>
    <p class="head-boxes-foot">$subtitle</p>
</div>
<!-- END -->
<!-- widget_forum_sidebar_head_head --> 
<div class="card">
    <div class="card-body widget" style="margin: -12px -12px -12px -12px;"> 
        <div class="agileits_updates_grid_left_grid">
<!-- END -->
<!-- widget_forum_sidebar_content --> 
            <div class="row">       
                <div class="col-3 agileits_updates_grid_left1">
                    <h4>$day <span>$date2 <i>$year.</i></span></h4>
                </div>
                <div class="col agileits_updates_grid_left1">
                    <h5>$title</h5>
                    <p>$text</p>
                </div>
            </div>
<!-- END -->
<!-- widget_forum_sidebar_foot -->
        </div>
    </div>
</div>
<!-- END -->