<!-- facts_content -->
<div id="server" class="parallax" style="padding: 10px;height: 250px;border-radius: var(--bs-border-radius);">
    <div class="container-fluid">
        <div class="container" style="margin-top: 50px;">
            <div class="row text-center">
                <div class="col">
                    <div class="cou1nter">
                        <i class="bi bi-chat-square-text facount" style="font-size: 2rem;"></i>
                        <h3 class="timer count-title count-number" data-to="$posts" data-speed="1500"></h3>
                        <p class="count-text ">$posts_in</p>
                    </div>
                </div>
                <div class="col">
                    <div class="cou1nter">
                        <i class="bi bi-download facount" style="font-size: 2rem;"></i>
                        <h3 class="timer count-title count-number" data-to="$totalfiles" data-speed="1500"></h3>
                        <p class="count-text ">$files</p>
                    </div>
                </div>
                <div class="col">
                    <div class="cou1nter">
                        <i class="bi bi-person facount" style="font-size: 2rem;"></i>
                        <h3 class="timer count-title count-number" data-to="$us" data-speed="1500"></h3>
                        <p class="count-text ">$registered_users</p>
                    </div>
                </div>
                <div class="col">
                    <div class="cou1nter">
                        <i class="gi bi-eye facount" style="font-size: 2rem;"></i>
                        <h3 class="timer count-title count-number" data-to="$user_on" data-speed="1500"></h3>
                        <p class="count-text ">$user_on_text online</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END -->
