<!-- textslider_title -->
<div class="container-fluid events">
	<div class="head-boxes">
	    <span class="head-boxes-head"></span>
	<h2 class="head-h2">
	    <span class="head-boxes-title"></span>
	</h2>
	    <p class="head-boxes-foot"></p>
	</div>
<!-- END -->
<!-- textslider_head -->
	<div class="container"> 
<!-- END -->
<!-- textslider_content -->
		<div class="swiper-slide">
			<div class="row event-item">
				<div class="col-sm-6">
					$carousel_pic
				</div>
				<div class="col-lg-6 pt-4 pt-lg-0 content">
					<h2 class="animated $ani_title textslider-color">$title</h2>
					<p class="animated $ani_description textslider-color">$description</p>
					<p class="animated $ani_link text-end"> <a href="$link" class="btn btn-dark btn-sm">READ MORE <i class="bi bi-chevron-double-right"></i></a></p>
				</div>
			</div>
		</div>
<!-- END -->
<!-- textslider_foot -->
	</div>
</div>
<!-- END -->