<!-- videos_title_head -->
<div class="head-boxes">
    <span class="head-boxes-head">$title</span>
<h2 class="head-h2">
    <span class="head-boxes-title">$title</span>
</h2>
    <p class="head-boxes-foot">$subtitle</p>
</div>
<!-- END -->
<!-- videos_category -->
<div style="text-align: center;">
<button class="btn btn-primary filter-button" data-filter="all">$lang_all</button>
<!-- END -->
<!-- videos_content -->
$portfoliocatname
<!-- END -->
<!-- videos_foot -->
</div><br>
<!-- END -->
<!-- videos_cat_all -->
<div>   
<!-- END -->
<!-- videos_cat_head --> 
    <div class="row">
 <!-- END -->
<!-- videos_cat --> 
        <div class="col-md-4 filter $videoscatID ">
          <div class="card mb-4 box-shadow">
            <div class="card-body">
              $videoname
              <div style="position: relative; display: inline-block;margin-left: -15px;margin-right: -15px;">
                <a href="index.php?site=videos&amp;action=watch&amp;videosID=$videosID">
                <span style="position: absolute; text-align: center; height: 100%; width: 100%; padding-top: 30%; font-size: 40px;"><i class="bi bi-youtube"></i></span>
                <a href="index.php?site=videos&amp;action=watch&amp;videosID=$videosID">
                        <img class="card-img-top" src="$preview" alt="$videoname" style="border-top-left-radius: 0px;border-top-right-radius: 0px;">
                </a></a>
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted"><i class="bi bi-chat-fill"></i> $comments</small>
              </div>
            </div> 
          </div>
        </div>
<!-- END -->
<!-- videos_cat_foot --> 
    </div>
</div>
 <!-- END -->

<!-- videos_watch -->
<div class="card">
    <div class="card-header">
        <h4>$videoname<p class="text-end">$view: $views</p></h4>
    </div>
    <div class="card-body">
        <div class="text-center">
            $stream
        </div>
        <br />$description
    </div>        
    <div class="card-footer">
        <p>$rating: $ratingpic ($votes $lang_votes)<br>$rateform</p>      
        <div class="float-left"><small>$added_by $uploader $on $date</small></div>
        <div class="float-right"><a class="btn btn-secondary" href="index.php?site=videos">$back</a></div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- END -->

<!-- videos_widget_content_head -->
<div class="videos" id="videos">
    <div class="container">
        <div class="videos-title"> 
            <h3>$title</h3> 
        </div>
        <div class="agileits-videos-grids row justify-content-center">
  <!-- END -->
<!-- videos_widget_content_content -->
            <div class="col-md-3 w3ls-videos-grid">
                <div class="thumb-small" style="border-radius: var(--bs-border-radius);">
                    <div style="position: relative; display: inline-block;">
                        <a href="index.php?site=videos&amp;action=watch&amp;videosID=$videosID">
                            <span style="position: absolute; text-align: center; height: 100%; width: 100%; padding-top: 30%; font-size: 40px;"><i class="bi bi-youtube"></i></span>
                            <img class="card-img-top" src="$preview" alt="$videoname" style="border-top-left-radius: 0px;border-top-right-radius: 0px;">                            
                        </a>
                    </div>
                </div>
            </div>
<!-- END -->
<!-- videos_widget_content_foot -->
        </div>
    </div>
</div>
<br>
<!-- END -->
<!-- videos_widget_title_head -->
<div class="head-boxes">
    <span class="head-boxes-head">$title</span>
<h2 class="head-h2">
    <span class="head-boxes-title">$title</span>
</h2>
    <p class="head-boxes-foot">$subtitle</p>
</div>
<!-- END -->
<!-- videos_widget_sidebar_head -->
<div class="card">
    <div class="card-body widget" style="margin: -12px -12px -12px -12px;"> 
  <!-- END -->
<!-- videos_widget_sidebar_content -->
       <li class="list-group-item">
            <div style="position: relative; display: inline-block;margin-left: -15px;margin-right: -15px;">
                <a href="index.php?site=videos&amp;action=watch&amp;videosID=$videosID">
                    <span style="position: absolute; text-align: center; height: 100%; width: 100%; padding-top: 30%; font-size: 40px;"><i class="bi bi-youtube"></i></span>                   
                    <img class="card-img-top" src="$preview" alt="$videoname" style="border-top-left-radius: 0px;border-top-right-radius: 0px;">                    
                </a>
            </div>
        </li>
<!-- END -->
<!-- videos_widget_sidebar_foot -->
    </div>
</div>
<!-- END -->
