<!-- sc_awards_head -->
   
   <div class="card">
    <div class="card-body">

        <div class="container">
            <div class="row">
                <div class="col-md-12"><h2 class="text-center">MEDIA</h2>
                </div>
                <div class="col-md-12 text-center">FOLLOW OUR PROS LIVE
                </div>  
            </div>
        </div>
        <br><br>
        <div class="container-fluid">
<!-- END --> 
<!-- sc_awards_content -->    
       <section class="customer-logos slider">   
            
     <div class="slide">$link</div>
            
     </section>    
<!-- END -->
<!-- sc_awards_foot -->              
</div></div></div>
<!-- END -->    

