.summary-color {
  color: #fff;
}

.parallax {
  /*border-top:1px solid #811616;
  border-bottom:1px solid #811616;*/
  background-attachment: fixed !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  overflow: hidden;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: relative;
  margin-top: -5px;
}

@media (max-width: 767px) {
  .parallax {
    -webkit-background-size: auto auto !important;
    -moz-background-size: auto auto !important;
    -o-background-size: auto auto !important;
    background-size: auto auto !important;
  }
}

.parallax {
  z-index: 3;
  position: relative;
  min-height: 250px;
  width: 100%;
  
}


#info_news {

  background-image: url("../images/bg.jpg");
  
}
