<!-- tags_head -->
<div class="head-boxes">
    <span class="head-boxes-head">$title</span>
<h2 class="head-h2">
    <span class="head-boxes-title">$title</span>
</h2>
    <p class="head-boxes-foot">$subtitle</p>
</div>
<!-- END -->
<!-- tags_search_tags_no_result -->
<span class="text-center">$text</span>
<!-- END -->
<!-- tags_search_tags -->
<div class="card">
	<div class="card-body">
    	$cat: <strong>$title</strong> <small>($date)</small>
        <hr>
    	$auszug<br>
        <a type="button" class="btn btn-primary" href="$links"><b>$link_cat</b></a>
	</div>
</div>
<!-- END -->