<!-- widget_news_content_head -->
<div class="container">
    <div class="card">

        <div class="card-body">
            <h2 class="text-center">$headlines-title</h2>

            <div class="row">
                <!-- END -->
                <!-- widget_news_content_content -->
                <div class="col-6 pb-1 pt-0 pr-1">
                    <div class="card border-0 text-white overflow zoom" stlye="border-radius: var(--bs-border-radius);">
                        <div class="position-relative">
                            <!--thumbnail img-->
                            <div class="ratio_right-cover-2">

                                $rubricpic

                            </div>
                            <div class="position-absolute p-2 p-lg-3 b-0 w-100 bg-shadow">
                                $line1
                                <h2 class="h5 text-white my-1">$headline </h2>

                            </div>
                        </div>
                    </div>
                </div>

                <!-- END -->

                <!-- widget_news_content_foot -->
            </div>
        </div>
    </div>
</div><br>
<!-- END -->