<!-- widget_news_headlines_2_head -->
<div class="news" id="news">
    <div class="container">
        <div class="news-title"> 
            <h3>Headlines</h3> 
        </div>
        <div class="agileits-news-grids row">

<!-- END -->
<!-- widget_news_headlines_2_content -->
<div class="col-lg-4 col-sm-6 mb-4">
            <div class="card card-2">
                <div class="card-img-wrapper overlay-rounded-top">
                    $rubricpic
                </div>
                <div class="card-body p-0 d-flex border-bottom">
                        <div class="py-3 px-4 border-end text-center">
                            <h4 class="text-primary mb-0">$date2</h4>
                            <p class="mb-0">$date1</p>
                            <p class="mb-0">$date3</p>
                        </div>
                        <div class="p-3">
                            $headline
                        <p>$content</p></div>
                </div>
                    <div class="d-flex">
                        <div class="p-3">
                        <p>by $poster / $comments</p>                    
                    </div>
                </div>
            </div>
</div>                              
<!-- END -->

<!-- widget_news_headlines_2_foot -->
</div>
</div></div>
<br>
<!-- END -->