<!-- widget_news_headlines_head -->
<div class="container" id="headline-news">
    <h2 class="headline-news">$headlines-title</h2>
    <div class="row">
        <!-- END -->
        <!-- widget_news_headlines_content -->
        <div class="col-md-4 pb-1 pt-0 pr-1">
            <div class="card border-0 text-white overflow zoom_headline"
                stlye="border-radius: var(--bs-border-radius);">
                <div class="position-relative">
                    <!--thumbnail img-->
                    <div class="ratio_right-cover-2">
                        $rubricpic
                    </div>
                    <div class="position-absolute p-5 p-lg-3 b-0 w-100 bg-shadow">

                        <div class="card date_col">
                            <div class="date_line"></div>
                            <div class="date_number"><b>$date2</b></div>
                            <div class="date_month">$date1</div>
                        </div>
                        $line
                        <h2 class="h5 headline my-1">$headline </h2>
                    </div>
                </div>
            </div>
        </div>

        <!-- END -->

        <!-- widget_news_headlines_foot -->
    </div>
</div>
<br>
<!-- END -->