<!-- userlist_head -->
<div class="head-boxes">
    <span class="head-boxes-head">$title</span>
<h2 class="head-h2">
    <span class="head-boxes-title">$title</span>
</h2>
    <p class="head-boxes-foot">$subtitle</p>
</div>
<!-- END -->
<!-- userlist_header -->
<div class="card">
    <div class="card-body">
            
<table width="100%" cellpadding="2" cellspacing="0" border="0">
  <tr>
    <td>$sorter <br><br> </td>
    <td></td>
  </tr>
  <tr>
    <td>$page_link</td>
    <td align="right"><b>$gesamt</b> $registered_users</td>
  </tr>
</table>            
<div class="table-responsive">

<table id="plu_gini" class="table table-striped">
  <thead>
    <tr>
    <th><a class="title1link" href="index.php?site=userlist&amp;sort=nickname&amp;page=$page">$nickname:</a></th>
    <th>$contact:</th>
    <th><a class="title1link" href="index.php?site=userlist&amp;sort=homepage&amp;page=$page">$homepage:</a></th>
    <th><a class="titlelink" href="index.php?site=userlist&amp;sort=lastlogin&amp;page=$page">$last_login:</a></th>
    <th><a class="titlelink" href="index.php?site=userlist&amp;sort=registerdate&amp;page=$page">$registration:</a></th>
  </tr>
 </thead>
<tbody>
<!-- END -->
<!-- userlist_content -->
<tr>
    <td>$avatar $nickname $member</td>
    <td>$email $pm</td>
    <td>$homepage</td>
    <td>$login</td>
    <td>$registereddate</td>
</tr>
<!-- END -->
<!-- userlist_foot -->
    </tbody>
    </table>
</div>
    </div>
</div>
<!-- END -->


<!-- userlist_useronline_head -->
<div class="card">
    <div class="card-body" style="margin: -12px -12px -17px -12px;">
        <ul class="list-group list-group-flush">
<!-- END -->
<!-- userlist_useronline_content -->
            <li class="list-group-item">
                $nickname<br><small>$last_active</small>
            </li><br>      
<!-- END -->
<!-- userlist_useronline_foot -->
        </ul>
    </div>
</div>
<!-- END -->

<!-- userlist_widget_lastregistered_head -->
<div class="card">
    <div class="card-body widget" style="margin: -12px -12px -12px -12px;"> 
        <ul class="list-group list-group-flush">
<!-- END -->
<!-- userlist_widget_lastregistered_content -->
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-6">
                        <img style="height:30px" class="img-fluid rounded-circle" src="$avatar">&nbsp; $username
                    </div>
                    <div class="col-md-6 text-end">
                        <span class="badge bg-secondary text-end">$registerdate</span>
                    </div>
                </div>   
            </li>
<!-- END -->
<!-- userlist_widget_lastregistered_foot -->
        </ul>
    </div>
</div>
<!-- END -->