/*----------navigation default---------------*/
/* ============ desktop view ============ */
@media (min-width: 768px) {
.navbar .nav-item .dropdown-menu{ 
    display: none;    
    background-color: transparent;
    border-color: transparent; 
  }
  .navbar .nav-item:hover .nav-link{ 
    outline: none;
    height: 99px;  
  }
  .navbar .nav-item:hover .dropdown-menu{ 
    display: block; 
  }
  .navbar .nav-item .dropdown-menu{ 
    top: 84px;
    left: -1px;
  }
}

@media (max-width: 767.98px) { 
.navbar .nav-item .dropdown-menu{ 
    display: none;    
    background-color: transparent;
    border-color: transparent; 
  }
  .navbar .nav-item:hover .nav-link{ 
    outline: none;
    height: 99px;  
  }
  .navbar .nav-item:hover .dropdown-menu{ 
    display: block; 
  }
  .navbar .nav-item .dropdown-menu{ 
    top: 84px;
    left: -1px;
  }
}


/* ============ desktop view .end// ============ */

/*----------navigation Logo---------------*/

.box {

}

.box span {
 display: block;
}

.logo-box .logo {
 margin-top: 0px;
}

.logo-box .box .webspell {
 font-size: 20px;
 font-weight: 600;
}

.logo-box .box .slogan {
 font-size: 12px;
 font-weight: 600;
}











#mainNav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #212529;
}
#mainNav .navbar-toggler {
  padding: 0.75rem;
  /*font-size: 0.75rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  
  font-weight: 700*/;
  text-transform: uppercase;
}
#mainNav .navbar-brand {
  /*color: #fff;*/
  /*font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;*/
  letter-spacing: 0.0625em;
  text-transform: uppercase;
}
#mainNav .navbar-nav .nav-item .nav-link {
  /*font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.95rem;
  /*color: #fff;*/
  letter-spacing: 0.0625em;
}
#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  /*color: #ffc800;*/
}

@media (min-width: 992px) {

  #main_Nav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #212529;
  }
  
#main_Nav .navbar-nav .nav-item {
    margin-right: 1rem;
  }


#main_Nav.navbar-shrink {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #212529;
  }


  #mainNav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border: none;
    background-color: transparent;
    transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
  }
  #mainNav .navbar-brand {
    font-size: 1.5em;
    transition: font-size 0.3s ease-in-out;
  }
  #mainNav .navbar-brand .logo-img {
    /*height: 80px;*/

    transition: height 0.3s ease-in-out;
  }
  #mainNav.navbar-shrink {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #212529;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
  }
  #mainNav.navbar-shrink .navbar-brand svg,
  #mainNav.navbar-shrink .navbar-brand img {
    height: 4.0rem;
  }
  #mainNav .navbar-nav .nav-item {
    margin-right: 1rem;
  }
  #mainNav .navbar-nav .nav-item:last-child {
    margin-right: 0;
  }
}
header.masthead {
  padding-top: 10.5rem;
  padding-bottom: 6rem;
  text-align: center;
  color: #fff;
  background-image: url("/includes/plugins/navigation_agency/images/header-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}
header.masthead .masthead-subheading {
  font-size: 1.5rem;
  font-style: italic;
  line-height: 1.5rem;
  margin-bottom: 25px;
  /*font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";*/
}
header.masthead .masthead-heading {
  font-size: 3.25rem;
  font-weight: 700;
  line-height: 3.25rem;
  margin-bottom: 2rem;
  /*font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";*/
}

@media (min-width: 768px) {
  header.masthead {
    padding-top: 17rem;
    padding-bottom: 12.5rem;
    margin-bottom: -90px;
  }
  header.masthead .masthead-subheading {
    font-size: 2.25rem;
    font-style: italic;
    line-height: 2.25rem;
    margin-bottom: 2rem;
  }
  header.masthead .masthead-heading {
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 4.5rem;
    margin-bottom: 4rem;
  }
}

.navbar-brand {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  text-decoration: none;
  white-space: nowrap;
}

@media (max-width: 768px) {
#navigation_modul {margin-top: 0px;margin-bottom: 365px;}
}

@media (min-width: 768px) { 
#navigation_modul {margin-top: 0px;margin-bottom: 595px;}
}

@media (min-width: 992px) {
    #navigation_modul {margin-top: 0px;margin-bottom: 595px;}
}