<!-- discord_head -->
<div class="head-boxes">
    <span class="head-boxes-head">$title</span>
<h2 class="head-h2">
    <span class="head-boxes-title">$title</span>
</h2>
    <p class="head-boxes-foot">$subtitle</p>
</div>
<!-- END -->
<!-- discord_content -->
<div class="card">
    <div class="card-body text-center" style="background-image: url('/includes/plugins/discord/images/discord-logo.png');background-repeat: no-repeat; 
                background-size: 100%; border-radius: var(--bs-border-radius);">
        <div class="container text-center">
  <div class="row justify-content-md-center">

<div class="col-lg-6" style="background-color: transparent;">
$discord
</div>
</div></div>

       <!-- <div class="row" style="margin-top: -12px;margin-bottom: -12px;"> 
            <div class="col-lg-6" style="background-image: url('/includes/plugins/discord/images/discord-logo.png');
                background-position: center center;
                background-size: auto">   
            </div>   
            <div class="col-lg-6" style="background-color: #26262a; max-height: 525px;"> 
                $discord
            </div>
        </div> -->
    </div>
</div>
<!-- END -->
<!-- discord_widget_content -->
<div class="card">
    <div class="card-body" style="margin: -12px -12px -17px -12px;">    
        $discord
    </div>  
</div>
<!-- END -->

