<!-- search_head -->
<div class="head-boxes">
    <span class="head-boxes-head">$title</span>
<h2 class="head-h2">
    <span class="head-boxes-title">$title</span>
</h2>
    <p class="head-boxes-foot">$subtitle</p>
</div>
<!-- END -->

<!-- search_form_loggedin -->
<div class="card">
    <div class="card-body">
<form name="post" method="POST" action="index.php?site=search" onsubmit="return formcheckOnsend('text');">

<label for="result-quantity">$text_contains:</label>
<input type="hidden" name="action" value="search" />
<div class="input-group mb-3">
  <input id="text" name="text" type="search" class="form-control" value="$text" aria-label="Recipient's username" aria-describedby="button-addon2" autofocus>
  <button class="btn btn-primary" type="submit" id="button-addon2">$start_search</button>
</div>

<button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            $options
</button>

<div class="collapse" id="collapseExample">
    <br>
    <div class="">

<div class="row">
    <div class="col-sm-6">






<div class="form-group row p-2">
            <label class="col-lg-4" for="result-quantity">$search_in</label>

            <div class="col-sm-8">

                <div class="row">
    <div class="col-sm-6">

      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="user" name="user" value="true" checked>
        <label class="form-check-label" for="gridRadios1">
          $user
        </label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="static" name="static" value="true" checked>
        <label class="form-check-label" for="gridRadios1">
          $static
        </label>
      </div>
<div class="form-check">
        <input class="form-check-input" type="checkbox" id="squads" name="squads" value="true" checked>
        <label class="form-check-label" for="gridRadios1">
          $squads
        </label>
      </div>


                $faq
                $wiki
                $news
                $forum
                $files
                $articles
                $about_us
                $blog
                $history
                
            </div>
    <div class="col-sm-6">
                
                $partners
                $todo
                $sponsors
                $gallery
                $clan_rules
                $server_rules
                $servers
                $planning
                $events
                $links
                $projectlist
            </div>
        </div>
                
</div></div>

</div><div class="col-sm-6">




        <div class="form-group row p-2">
            <label class="col-lg-4" for="result-quantity">$result_quantity:</label>

            <div class="col-lg-8 text-end">
                <select id="result-quantity" name="r" class="form-select" multiple>
                    <option value="100" selected>100</option>
                    <option value="50">50</option>
                    <option value="25">25</option>
                    <option value="10">10</option>
                </select>
            </div>
        </div>
</div>
        <div class="form-group row p-2">
            <label class="col-lg-2" for="order">$sort_options:</label>

            <div class="col-lg-10">
                <div class="radio">
                    <label>
                        <input id="order" type="radio" name="order" value="1" checked> $descending
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="order" value="2">
                        $ascending
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group row p-2">
            <label class="col-lg-2" for="afterdate">$date_options:</label>

            <div class="col-lg-5">
                <label for="afterdate">$after</label>
                <input id="afterdate" name="afterdate" placeholder="yyyy-mm-dd" type="date" class="form-control">
            </div>
            <div class="col-lg-5">
                <label for="beforedate">$before</label>
                <input id="beforedate" name="beforedate" placeholder="yyyy-mm-dd" type="date" class="form-control">
            </div>
        </div>
    </div>

    
</div></div>
</form></div></div>
<!-- END -->

<!-- search_form_notloggedin -->
<div class="card">
    <div class="card-body">
<form name="post" method="POST" action="index.php?site=search" onsubmit="return formcheckOnsend('text');">
    
    <label for="result-quantity">$text_contains:</label>
<input type="hidden" name="action" value="search" />
<div class="input-group mb-3">
  <input id="text" name="text" type="search" class="form-control" value="$text" aria-label="Recipient's username" aria-describedby="button-addon2" autofocus>
  <button class="btn btn-primary" type="submit" id="button-addon2">$start_search</button>
</div>

<!-- Security code -->

<!-- Security code -->

          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon3">$lang_security_code:&nbsp;$_captcha</span>
            
          </div>


    
<br>
<button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            $options
</button>


<div class="collapse" id="collapseExample">
    <div class="card card-body">

<div class="row">
    <div class="col-sm-6">






<div class="form-group row p-2">
            <label class="col-sm-4" for="result-quantity">$search_in</label>

            <div class="col-sm-8">

                <div class="row">
    <div class="col-sm-6">

      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="user" name="user" value="true" checked>
        <label class="form-check-label" for="gridRadios1">
          $user
        </label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="static" name="static" value="true" checked>
        <label class="form-check-label" for="gridRadios1">
          $static
        </label>
      </div>
<div class="form-check">
        <input class="form-check-input" type="checkbox" id="squads" name="squads" value="true" checked>
        <label class="form-check-label" for="gridRadios1">
          $squads
        </label>
      </div>


                $faq
                $wiki
                $news
                $forum
                $files
                $articles
                $about_us
                $blog
                $history
            </div>
    <div class="col-sm-6">
                
                $partners
                $todo
                $sponsors
                $gallery
                $clan_rules
                $server_rules
                $servers
                $planning
                $events
                $links
                $projectlist
            </div>
        </div>
                
</div></div>

</div><div class="col-sm-6">




        <div class="form-group row p-2">
            <label class="col-lg-4" for="result-quantity">$result_quantity:</label>

            <div class="col-lg-8 text-end">
                <select id="result-quantity" name="r" class="form-select" multiple>
                    <option value="100" selected>100</option>
                    <option value="50">50</option>
                    <option value="25">25</option>
                    <option value="10">10</option>
                </select>
            </div>
        </div>
</div>
        <div class="form-group row p-2">
            <label class="col-lg-2" for="order">$sort_options:</label>

            <div class="col-lg-10">
                <div class="radio">
                    <label>
                        <input id="order" type="radio" name="order" value="1" checked> $descending
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="order" value="2">
                        $ascending
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group row p-2">
            <label class="col-lg-2" for="afterdate">$date_options:</label>

            <div class="col-lg-5">
                <label for="afterdate">$after</label>
                <input id="afterdate" name="afterdate" placeholder="yyyy-mm-dd" type="date" class="form-control">
            </div>
            <div class="col-lg-5">
                <label for="beforedate">$before</label>
                <input id="beforedate" name="beforedate" placeholder="yyyy-mm-dd" type="date" class="form-control">
            </div>
        </div>
    </div>
    </div>
</div>
</form>
</div>
</div>
<!-- END -->

<!-- search_result -->
<div class="card">
    <div class="card-body">
        $type: <strong>$title</strong> <small>($date)
		<span class="pull-right hidden-sm">$lang_frequency: $frequency</span></small>
        <hr>
	$auszug
	<br>
	$link
</div>
</div>
<!-- END -->


<!-- search_quicksearch -->
<div class="card">
    <div class="card-body" style="margin: -12px -12px -28px -12px;">
<form method="get" action="index.php" onsubmit="return formcheckOnsend('quicksearch');" class="navbar-form pull-right">

    <input name="action" type="hidden" value="search">
    <input name="user" type="hidden" value="true">
    <input name="static" type="hidden" value="true">
    <input name="squads" type="hidden" value="true">
    $faq
                $wiki
                $news
                $forum
                $files
                $articles
                $about_us
                $blog
                $history
                $partners
                $todo
                $sponsors
                $gallery
                $clan_rules
                $server_rules
                $servers
                $planning
                $events
                $links
                $projectlist
    <input name="order" type="hidden" value="1">
    <input name="r" type="hidden" value="50">
    <input name="site" type="hidden" value="search">

<div class="input-group mb-3">
  <input name="text" class="form-control" type="search" placeholder="$search_term..." aria-label="Recipient's username" aria-describedby="button-addon2">
  <button class="btn btn-primary" type="button submit" id="button-addon2">$search</button>
</div>

</form>
</div>
</div>
<!-- END -->

