<!-- sticky_header_content -->
<header id="sticky_header" style="height: $sticky_height;">
	<div class="sticky-image" style="background: url($sticky_pic) no-repeat center center; background-size: cover; height: $sticky_height;">
        <div class="sticky-container">
            <div class="col-6"><a href="index.html" class="sticky-logo" data-aos="zoom-in"><img src="/includes/themes/$theme_name/images/logo.png" alt=""></a>
            <h1 data-aos="zoom-in">$title</h1>
            <h2 data-aos="fade-up">$description</h2>
            $link</div>
        </div>
    </div>
</header>
<!-- END -->