<!-- features_three_box_head -->
<div class="card">
    <div class="card-body">
        <div class="row">
<!-- END -->
<!-- features_three_box_content_about -->

            <div class="col-sm-4">
                <div class="four-box-pic backcolor-blue color-white"><i class="bi bi-globe" style="font-size: 2rem;"></i></div>
                <div class="four-box-txt">
                    <span class="size-100 upp"><h4 class="lineheight20">$title</h4></span>
                    <span class="size-100 upp color-gray">Other headlines</span> <br />
                    <br /><br />$text
                </div>
            </div>
<!-- END -->
<!-- features_three_box_content_about_no -->
            <div class="col-sm-4">
                <div class="four-box-pic backcolor-blue color-white"><i class="bi bi-globe" style="font-size: 2rem;"></i></div>
                <div class="four-box-txt">
                    <span class="size-100 upp"><h4 class="lineheight20">About</h4></span>
                    <span class="size-100 upp color-gray">Other headlines</span> <br />
                    <br /><br />
                    $no_about
                </div>
            </div>  
<!-- END -->
<!-- features_three_box_content_video -->
            <div class="col-sm-4">
                <div class="four-box-pic backcolor-blue color-white"><i class="bi bi-globe" style="font-size: 2rem;"></i></div>
                <div class="four-box-txt">
                    <span class="size-100 upp"><h4 class="lineheight20">$lang_title_video</h4></span>
                    <span class="size-100 upp color-gray">$videoname</span> <br />
                    <br /><br />
                    $preview
                </div>        
            </div>
<!-- END -->
<!-- features_three_box_content_video_no -->
            <div class="col-sm-4">
                <div class="four-box-pic backcolor-blue color-white"><i class="bi bi-globe" style="font-size: 2rem;"></i></div>
                <div class="four-box-txt">
                    <span class="size-100 upp"><h4 class="lineheight20">Video</h4></span>
                    <span class="size-100 upp color-gray">Screen</span> <br />
                    <br /><br />
                    $no_videos
                </div>        
            </div>
<!-- END -->
<!-- features_three_box_content_gallery -->
            <div class="col-sm-4">
                <div class="four-box-pic backcolor-blue color-white"><i class="bi bi-globe" style="font-size: 2rem;"></i></div>
                <div class="four-box-txt">
                    <span class="size-100 upp"><h4 class="lineheight20">$lang_title_gallery</h4></span>
                    <span class="size-100 upp color-gray">$name</span> <br />
                    <br /><br />
                    $banner
                </div>        
            </div>
        
<!-- END -->
<!-- features_three_box_content_gallery_no -->
            <div class="col-sm-4">
                <div class="four-box-pic backcolor-blue color-white"><i class="bi bi-globe" style="font-size: 2rem;"></i></div>
                <div class="four-box-txt">
                    <span class="size-100 upp"><h4 class="lineheight20">Gallery</h4></span>
                    <span class="size-100 upp color-gray">PIC</span> <br />
                    <br /><br />
                    $no_gallery
                </div>        
            </div>
        
<!-- END -->
<!-- features_three_box_foot -->
        </div>
    </div>
</div>
<!-- END -->