<!-- features_one_box_content -->
<div class="card">
    <div class="card-body">
         <div class="row">
          <div class="col-sm-4">
            <div class="four-box-pic backcolor-blue color-white"><i class="bi bi-eye" style="font-size: 2rem;"></i></div>
            <div class="four-box-txt">
                <span class="size-100 upp"><h4 class="lineheight20">$title_one</h4></span>
                <span class="size-100 upp color-gray">$title_small_one</span> <br />
                <br /><br />
                $text_one
            </div>
          </div>
          <div class="col-sm-4">
            <div class="four-box-pic backcolor-blue color-white"><i class="bi bi-gear" style="font-size: 2rem;"></i></div>
            <div class="four-box-txt">
                <span class="size-100 upp"><h4 class="lineheight20">$title_two</h4></span>
                <span class="size-100 upp color-gray">$title_small_two</span> <br />
                <br /><br />
                $text_two 
            </div>        
          </div>
          <div class="col-sm-4">
                <div class="four-box-pic backcolor-blue color-white"><i class="bi bi-people-fill" style="font-size: 2rem;"></i></div>
                <div class="four-box-txt">
                    <span class="size-100 upp"><h4 class="lineheight20">$title_three</h4></span>
                    <span class="size-100 upp color-gray">$title_small_three</span> <br />
                    <br /><br />
                    $text_three 
                </div>        
         </div>
        </div>
    </div>
</div>
<!-- END -->