<!-- features_two_box_head -->
<div class="card">
    <div class="card-body">
         <div class="row">
<!-- END -->

<!-- features_two_box_headlines_head -->

<div class="col-sm-4">
            <div class="four-box-pic backcolor-blue color-white"><i class="bi bi-globe size-250"></i></div>
            <div class="four-box-txt">
                <span class="size-100 upp"><h4 class="lineheight20">$news</h4></span>
                <span class="size-100 upp color-gray">$headlines-title</span> <br />
                <br /><br />
<ul class="list-group">
<!-- END -->

<!-- features_two_box_headlines_content -->
<li class="list-group">
    $line
</li>    
<!-- END -->

<!-- features_two_box_headlines_foot -->
</ul>
</div>
          </div>
<!-- END -->

<!-- features_two_box_latesttopics_head -->

<div class="col-sm-4">
                <div class="four-box-pic backcolor-blue color-white"><i class="bi bi-globe size-250"></i></div>
                <div class="four-box-txt">
                    <span class="size-100 upp"><h4 class="lineheight20">$title</h4></span>
                    <span class="size-100 upp color-gray">$news-title</span> <br />
                    <br /><br />
<ul class="list-group">
<!-- END -->

<!-- features_two_box_latesttopics_content -->
<!--<div>$lang_board: $boardlink</div>-->
<li class="list-group">
    $topiclink
</li>
  <!--<div><small>$lang_last_post: $last_poster $date</small></div><hr>-->
<!--<a href="$topiclink" class="list-group-item list-group-item-action" data-toggle="tooltip" data-html="true" title="<b>$topictitle</b><br>$last_poster<br>$date<br>$lang_board: $board"><strong><i class="bi bi-chat-fills"> </i> $topictitle</strong> <spam class="float-right">$replys Antworten</spam></a>-->
<!-- END -->

<!-- features_two_box_latesttopics_foot -->
</ul>
</div>
</div>

<!-- END -->

<!-- features_two_box_files_head -->

<div class="col-sm-4">
            <div class="four-box-pic backcolor-blue color-white"><i class="bi bi-download size-250"></i></div>
            <div class="four-box-txt">
                <span class="size-100 upp"><h4 class="lineheight20">$downloads</h4></span>
                <span class="size-100 upp color-gray">$downloads-title</span> <br />
                <br /><br />
<ul class="list-group">
<!-- END -->

<!-- features_two_box_files_content -->
<li class="list-group">
$download
</li>

<!-- END -->
<!-- features_two_box_files_foot -->
</ul>
</div>        
</div>
<!-- END -->

<!-- features_two_box_foot -->
</div>
</div>
</div>
<!-- END -->