
	
	.navbar{
		height: 100px;
		
		background:rgba(var(--bs-nav-bg-rgb),1);
		background:-moz-linear-gradient(-45deg,rgba(var(--bs-nav-bg-rgb),1) 0%,rgba(var(--bs-nav-bg-rgb),1) 13%,rgba(var(--bs-nav-bg-rgb),1) 13%,rgba(var(--bs-nav-sec-bg-rgb),1) 61%,rgba(var(--bs-nav-sec-bg-rgb),1) 100%);
		background:-webkit-linear-gradient(-45deg,rgba(var(--bs-nav-bg-rgb),1) 0%,rgba(var(--bs-nav-bg-rgb),1) 13%,rgba(var(--bs-nav-bg-rgb),1) 13%,rgba(var(--bs-nav-sec-bg-rgb),1) 61%,rgba(var(--bs-nav-sec-bg-rgb),1) 100%);
		background:linear-gradient(135deg,rgba(var(--bs-nav-bg-rgb),1) 0%,rgba(var(--bs-nav-bg-rgb),1) 13%,rgba(var(--bs-nav-bg-rgb),1) 13%,rgba(var(--bs-nav-sec-bg-rgb),1) 61%,rgba(var(--bs-nav-sec-bg-rgb),1) 100%);
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(var(--bs-nav-bg-rgb),1)',endColorstr='rgba(var(--bs-nav-sec-bg-rgb),1)',GradientType=1)
	}
	
	@media screen and (min-width:720px){
		.nav-item{
			transform:skewX(-20deg);
			transition:all 200ms linear;
			box-shadow:inset 8px 2px 16px rgba(0,0,0,.2);
			padding: 8px 20px 0px 20px;
			font-family:bebas neue,cursive
		}.nav-item a{
			transition:all 200ms linear;
			transform:skewX(20deg);
			font-size:1.8em;line-height:1.2em
		}.nav-item:nth-child(2n+1){
			border-left:1px solid #eaeaea;
			border-right:1px solid #eaeaea
		}.nav-item:nth-last-child(1){
			border-left:1px solid #eaeaea;
			border-right:none!important
		}

		.dropdown-menu {
			display:none;
			margin-left:-4px;
			position:absolute;
			width:320px;
			z-index:123;
			background:#fff;
		}
		.dropdown-menu-end:hover>.dropdown-menu{
			display:block!important
		}

		

		.nav-item .dropdown-toggle::after{display:none;}


		.sublink{
			transform:skewX(40deg);
			padding:12px;
			background:#fff;
			margin-top:5px;
			margin-left:12px;
			width:100%;
			border:1px solid rgba(var(--bs-nav-sec-bg-rgb),1);
		}.sublink a{
			display:inline-block;
			transform:skewX(-25deg);
			color:#000;
			text-decoration:none;
			background:#fff;
		}

		.nav-link .flag {
  			line-height: padding: 0px 40px 0px 40px;
		}
		.nav-item .icon {
  			font-size:0.8em;line-height:1.2em;line-height: padding: 0px 40px 0px 40px;
		}
	}
@media screen and (max-width:719px){
		.nav-item a{
			/*background:rgba(0,0,0,.1);*/
			color:#fff
		}
	}
	.nav-item.active,.nav-item:hover{
		background:#fff
	}
	.nav-item.active>a,.nav-item:hover>a{
	color:#000!important
}
