<!-- history_head -->
<div class="head-boxes">
    <span class="head-boxes-head">$title</span>
<h2 class="head-h2">
    <span class="head-boxes-title">$title</span>
</h2>
<p class="head-boxes-foot">$subtitle</p>
</div>
<!-- END -->
<!-- history_header -->
<section>
  <div class="container py-5">
    <div class="main-timeline">
<!-- END -->
<!-- history_content_area -->
      <div class="timeline $align">
        <div class="ca1rd" style="border: 1px solid #$clanrulesID">
          <div class="card-body p-4">
            <h3>$title</h3>
            <p class="mb-0">$text</p>
            <small>$info $poster $stand $date</small>
          </div>
        </div>
      </div>
<!-- END -->
<!-- history_foot -->
    </div>
  </div>
</section>
<!-- END -->

<!-- history_show_header -->
<div class="card">
  <div class="card-body p-4">
<!-- END -->
<!-- history_show_content_area -->
    <h3>$title</h3>
    <p class="mb-0">$text</p>
    <small>$info $poster $stand $date</small>
<!-- END -->
<!-- history_show_foot -->
  </div>
</div>
<!-- END -->