<!-- sc_files_title_head -->
<div class="head-boxes">
    <span class="head-boxes-head">$title</span>
<h2 class="head-h2">
    <span class="head-boxes-title">$title</span>
</h2>
    <p class="head-boxes-foot">$subtitle</p>
</div>
<!-- END -->
<!-- sc_files_head_head -->
<div class="card">
  	<div class="card-body widget" style="margin: -12px -12px -12px -12px;"> 
    	<div class="agileits_updates_grid_left_grid">
<!-- END -->
<!-- sc_files_content -->
			<div class="row">
				<div class="col-3 agileits_updates_grid_left1">
        			<h4>$day <span>$date2 <i>$year.</i></span></h4>
      			</div>
      			<div class="col agileits_updates_grid_left1">
        			<h5>$title</h5>
        			<p>$text<br><small>($count Download)</small></p>
      			</div>
			</div>      	
<!-- END -->
<!-- sc_files_foot -->	
		</div>
	</div>
</div>
<!-- END -->
