/*-- team --*/
.team-title h3{
    font-size: 4em;
    color: rgba(var(--bs-link-color),1);
    margin: 0;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}
.agileits-team-grids{
    margin: 2em 0 0 0;
}

.team {
    padding: 4em 0 4em 0;
}
.team-heading h4{
    color: rgba(255, 255, 255, 0.47);
}
.team-info{
    position: relative;
    overflow: hidden;   
}
.team-info img{
    width:100%;
}
.team-caption h4 a{
    color: #FFFFFF;
    font-size: 1.5em;
    margin: .5em 0 0 0;
    font-family: 'Roboto Condensed', sans-serif;
}
.team-caption h4 a:hover{
    color: #FFFFFF;
    font-size: 1.5em;
    margin: .5em 0 0 0;
    font-family: 'Roboto Condensed', sans-serif;
}
.team-caption p{
    color: #eaeaea;
    font-size: .9em;
    margin: 0;
}
.team-caption ul{
    padding: 0;
    margin: 1em 0 0 0;
}
.team-caption ul li{
    display: inline-block;
}
.team-caption ul li a {
    color: #333;
    text-align: center;
}
.team-caption ul li a i.fab.fa-facebook-square{
    height: 30px;
    width: 30px;
    line-height: 30px;
    border: solid 2px #FFF;
    background: none;
    color: #FFF;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.team-caption ul li a i.fab.fa-facebook-square:hover {
    background: #3b5998;
}
.team-caption ul li a i.fab.fa-twitter-square{
    height: 30px;
    width: 30px;
    line-height: 30px;
    border: solid 2px #FFF;
    background: none;
    color: #FFF;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.team-caption ul li a i.fab.fa-twitter-square:hover{
    background: #55acee;
}
.team-caption ul li a i.fab.fa-steam-square{
    height: 30px;
    width: 30px;
    line-height: 30px;
    border: solid 2px #FFF;
    background: none;
    color: #FFF;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.team-caption ul li a i.fab.fa-steam-square:hover{
    background: #455a64; 
}
.team-caption {
    background: rgba(var(--bs-link-color),1);
    padding: 1em;
    position: absolute;
    left: 0;
    bottom: -105%;
    text-align: center;
    width: 100%;
    height: 154px;
    -webkit-transition: .5s all;
    transition: .5s all;
    -moz-transition: .5s all;
}
.team-info:hover .team-caption{
    bottom: 0%;
}
.team-info:hover .team-caption {
    bottom: 0%;
}
/*-- //team --*/

/*-- responsive --*/
@media(max-width:1080px){
    
}
@media(max-width:991px){
    
    .agileits-team-grid {
        float: left;
        width: 50%;
        margin-bottom: 2em;
    }
    .agileits-team-grid:nth-child(1),.agileits-team-grid:nth-child(2),.agileits-team-grid:nth-child(3),.agileits-team-grid:nth-child(4){
        margin: 0;
    }
    
}
@media(max-width:768px){
    
}
@media(max-width:736px){
    
}
@media(max-width:667px){
    
}
@media (max-width:640px) {

}
@media(max-width:600px){
    
}
@media(max-width:568px){
    
}
@media(max-width:480px){
    .team-title h3 {
        font-size: 3em;
    }
}
@media(max-width:414px){
    .agileits-team-grids {
        margin: 2em 0 0 0;
    }
    .team-title h3 {
        font-size: 3em;
    }
    
}
@media(max-width:384px){
    .agileits-team-grids {
        float: none;
        width: 100%;
        margin-bottom: 2em !important;
    }
    .agileits-team-grid:nth-child(4) {
        margin: 0 !important;
    }
    .agileits-team-grids {
        margin: 1em 0 0 0;
    }
    .sponsors-team h3 {
        font-size: 2.5em;
    }  
}
@media(max-width:320px){
    .agileits-team-grids {
        margin: 1em 0 0 0;
    }
    .team-title h3 {
        font-size: 2em;
    }
}
/*-- //responsive --*/