<!-- facebook_verdux_widget_head -->
<div class="head-boxes">
    <span class="head-boxes-head">$title</span>
<h2 class="head-h2">
    <span class="head-boxes-title">$title</span>
</h2>
    <p class="head-boxes-foot">$subtitle</p>
</div>
<!-- END -->
<!-- facebook_verdux_widget_content_fb1 -->
<div class="fb-page" data-href="$facebook" data-width="380" data-hide-cover="false" data-show-facepile="false" data-show-posts="false"></div>
<!-- END -->
<!-- facebook_verdux_widget_content_fb2 -->
<div class="fb-page" data-href="$facebook" data-width="380" data-hide-cover="false" data-show-facepile="true"></div>
<!-- END -->
<!-- facebook_verdux_widget_content_fb3 -->
<div class="fb-page" data-tabs="events" data-href="$facebook" data-width="380"></div>
<!-- END -->
<!-- facebook_verdux_widget_content_fb4 -->
<div class="fb-page" data-tabs="timeline,events,messages" data-href="$facebook" data-width="380" data-hide-cover="false"></div>
<!-- END -->
<!-- facebook_verdux_widget_foot -->
<div id="fb-root"></div>

<!-- END -->
<!-- facebook_verdux_widget_foot_foot -->
<div id="fb-root"></div>

<!-- END -->

