<!-- about_us_box_widget_content -->
<div class="section-content-widget upper-footer bg">
  <div class="container upper-footer bg">
    <div class="d-none d-lg-block d-xl-block d-xxl-block">
      <div class="row">
        <div class="col-8 row">
          <div class="col-6">
            $logo
          </div>
          <div class="col-6 upper-text">
            $text
          </div>
        </div>
        <div class="col-4 d-flex justify-content-end d-none d-lg-block d-xl-block d-xxl-block">
          <nav class="nav flex-column text-center">
            $twitch
            $youtube
            $steam
            $discord
            $facebook
            $twitter
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END -->