<!-- register_content -->

                    <div class="row">
                        <div class="col-md-4 signup-greeting overlay foto">
                            <img style="height: 80px;" src="/includes/themes/default/images/logo-signup.png" alt="logo">
                            <h4 class="reg_pic_text">$info1</h4>
                            <p class="reg_pic_text">$info2</p>
                        </div>
                        <div class="col-md-8 row">
                            <div class="signup-form row">
                                
                                    <div class="col-12">
                                        <h4>$registration</h4>
                                        <p class="float-sm-end">$already_account
                                            <a href="index.php?site=login">$login</a>
                                        </p>
                                    </div>
                                    <!-- Error Box -->
                                    $showerror

                                    <span id="signup-response">
                                    <form class="row" onsubmit="loading ('btn-response')" autocomplete="off" id="signup-form" method="POST">

                                    <script type="text/javascript">
                                    function validate() {
                                    if (document.getElementById('accept_gdpr').checked) {
                                        return true;
                                    } else {
                                        alert("$lang_GDPRaccept");
                                        return false;
                                    }
                                    return false;
                                    }
                                    </script>
                                <div class="col-6">                                    
                                    <div class="col-12 mb-3">  
                                        <label>$nickname: <font color="#DD0000">*</font></label>
                                    <input type="text" name="nickname" class="form-control input-lg" id="fullName" placeholder="$enter_your_name"  required="true">
                                    </div>

                                    <div class="col-12 mb-3">  
                                        <label>$email_address: <font color="#DD0000">*</font>:</label>
                                        <input type="email" name="mail" class="form-control input-lg" id="emailAddress" placeholder="$enter_your_email" autocomplete="email"  required="true">
                                        <small>($for_login)</small>
                                    </div>
                                     
                                     <div class="col-12 mb-3">  
                                        <label>$password: <font color="#DD0000">*</font> <span style="font-size: 13px;"><i class="bi bi-question-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="$pass_text"></i></span></label>
                                        <link rel="stylesheet" href="/components/css/passtrength.css" media="screen" title="no title">
                                        <script type="text/javascript" src="/components/js/passtrength.js"></script>
                                        <input id="input-password" type="password" name="password" class="form-control input-lg" placeholder="$password" required="true">
                                    </div>

                                    <div class="col-12 mb-3"> 
                                        <label>$repeat <font color="#DD0000">*</font> <span style="font-size: 13px;"><i class="bi bi-question-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="$pass_text"></i></span></label>
                                        <input id="re-input-password" type="password" name="password2" class="form-control input-lg" placeholder="$repeat" required="true">
                                     </div> 

                                     <script type="text/javascript">
                                        $(document).ready(function($) {
                                            $('#input-password').passtrength({
                                                
                                                passwordToggle: true,
                                                tooltip: false
                                            });
                                        });
                                    </script>
                                    <script type="text/javascript">
                                        $(document).ready(function($) {
                                            $('#re-input-password').passtrength({
                                                
                                                passwordToggle: true,
                                                tooltip: false
                                            });
                                        });
                                    </script>

                                </div>
                                <div class="col-6">
                                    <div class="col-12 mb-3">
                                        <label>$firstname:</label>
                                        <input type="text" class="form-control input-lg" name="firstname" placeholder="$enter_your_firstname">
                                    </div>
                                    <div class="col-12 mb-3">
                                        <label>$lastname:</label>
                                        <input type="text" class="form-control input-lg" name="lastname" placeholder="$enter_your_lastname">
                                        <small> &nbsp;</small>
                                    </div>    
                                    <div class="col-12 mb-3">
                                        <label>$date_of_birth:</label>
                                        <input id="bday" class="form-control input-lg" type="date" name="birthday" placeholder="yyyy-mm-dd">
                                    </div>
                                    <div class="col-12 mb-3">
                                        <label>$lang_gender:</label>
                                        <select id="gender" name="gender" class="form-select input-lg">$gender</select>
                                    </div>
                                     <div class="col-12 mb-3">
                                        <label>$homepage1:</label>
                                        <input type="url" name="homepage" class="form-control" id="homepage" placeholder="$homepage2">    
                                     </div> 
                                </div>

                                    <div class="col-12 mb-3">
                                        <span class="input-group-text" style="width: 100%; " id="basic-addon3">$security_code:&nbsp;&nbsp;$_captcha</span>            
                                    </div>
                                    <!-- GDPR Box -->
                                    <div class="col-12">
                                        <input class="form-check-input" type="checkbox"  placeholder="0" id="flexCheckDefault">
                                            $lang_GDPRinfo <span style="font-size: 13px;"><i class="bi bi-question-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="$lang_GDPRterm"></i></span>
                                    </div>

                                    <div class="col-sm-5 mb-3">
                                        <button type="submit" name="save" class="btn btn-success">$register_now</button>
                                    </div>
                                    <div class="col-sm-7 text-sm-end mb-3">
                                        <p><font color="#DD0000">*</font>$fields_star_required</p>
                                    </div>                                    
                                </form>
                            </div>
                        </div>
                    </div>
                
<!-- END -->
