<!-- topbar_two_content -->
<div class="container-fluid">
	<div class="row align-items-center text-center topbar-element">
		<div class="col">
			<div class="topbarElements d-inline-flex align-items-center">
				<div><i class="bi bi-arrow-right" style="font-size: 2rem;"></i></div>
				<div class="text-start d-md-block d-none">
					<h5 class="p-0 m-0 text-uppercase">Office</h5>
					<p class="p-0 m-0 text-secondary">123 Broad St, Cookeville, TN</p>
				</div>
			</div>
		</div>
		<div class="col border-start border-end">
			<div class="topbarElements d-inline-flex align-items-center">
				<div><i class="bi bi-pencil" style="font-size: 2rem;"></i></div>
				<div class="text-start d-md-block d-none">
					<h5 class="p-0 m-0 text-uppercase">Email</h5>
					<p class="p-0 m-0 text-secondary">example@email.com</p>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="topbarElements d-inline-flex align-items-center">
				<div><i class="bi bi-telephone" style="font-size: 2rem;"></i></div>
				<div class="text-start d-md-block d-none">
					<h5 class="p-0 m-0 text-uppercase">Phone</h5>
					<p class="p-0 m-0 text-secondary">+91 123 123 2323</p>
				</div>
			</div>
		</div>
		<!--$login-->
	</div>
</div>
<!-- END -->