<!-- topbar_two_content -->
<section id="topbar2" class="d-flex align-items-center">
<div class="container-fluid d-flex justify-content-center justify-content-md-between">
	<div class="col-3 text-center">
		<div class="topbarElements d-inline-flex align-items-center">
			<div><i class="bi bi-arrow-right" style="font-size: 2rem;"></i></div>
			<div class="text-start d-md-block d-none">
				<h5 class="p-0 m-0 text-uppercase">Office</h5>
				<p class="p-0 m-0 text-secondary">$name $strasse</p>
			</div>
		</div>
	</div>
	<div class="col-3 text-center border-start border-end">
		<div class="topbarElements d-inline-flex align-items-center">
			<div><i class="bi bi-pencil" style="font-size: 2rem;"></i></div>
			<div class="text-start d-md-block d-none">
				<h5 class="p-0 m-0 text-uppercase">Email</h5>
				<p class="p-0 m-0 text-secondary">$mail</p>
			</div>
		</div>
	</div>
	<div class="col-3 text-center">
		<div class="topbarElements d-inline-flex align-items-center">
			<div><i class="bi bi-telephone" style="font-size: 2rem;"></i></div>
			<div class="text-start d-md-block d-none">
				<h5 class="p-0 m-0 text-uppercase">Phone</h5>
				<p class="p-0 m-0 text-secondary">$telefon</p>
			</div>
		</div>
	</div>
	$login
</div>
</section>
<!-- END -->