<!-- sc_about_sponsor_head -->
<div class="section-content-widget">
    <div class="container">
        <div class="row">
<!-- END -->
<!-- sc_about_sponsor_contentabout -->
            <div class="col-md-6">
                <div class="col-md-12"><h2 class="text-center">About Us</h2></div>
                <div class="col-md-12 text-center">WHO WE ARE</div>  
                <br>
                <div class="triangle-left">$text</div>
            </div>
<!-- END -->

<!-- sc_about_sponsor_contentsponsor -->
            <div class="col-md-6">
                <div class="col-md-12"><h2 class="text-center">Premium Sponsor</h2></div>
                <div class="col-md-12 text-center">THANK YOU TO OUR SPONSOR</div> 
                <div class="col-md-12 text-center">
                    $info<br>
                    $sponsor<br><br>
                    <a href="$url" target="_blank" class="btn btn-dark btn-sm">visit $name</a>
                </div>
            </div>
<!-- END -->

<!-- sc_about_sponsor_foot -->
        </div>
        <br>
    </div>
</div>
<!-- END -->