.img-art {
   width: 100%; 
   height:300px; 
   object-fit: cover;
   object-position: 71% 40%;
}

/*-- widget sidebar --*/
.agileits_updates_grids {
    margin: 5em 0 0 0;
}
.agileits_updates_grid_left h4,.agileits_updates_grid_right h4{
    font-family: 'Poppins', sans-serif;
    margin: .5em 0;
}
.agileits_updates_grid_left_grid:nth-child(3) {
    margin: 1em 0;
}
.agileits_updates_grid_left1 h4{
    width: 50px;
    height: 120px;
    background-color: rgba(var(--bs-rm-body-bg),1);
    font-size: 2em;
    color: rgba(var(--bs-link-color),1);
    text-align: center;
    border-radius: var(--bs-border-radius);
    padding:.8em 0 0;
    border: 1px solid rgba(var(--bs-card-border-color-rgb), 1) !important;
}
.agileits_updates_grid_left1 h4 span{
    display: block;
    font-size: .4em;
    margin: .5em 0 0;
    color: #999;
}
.agileits_updates_grid_left1 h4 span i{
  display:block;
  margin: .5em 0 0;
}
.agileits_updates_grid_left1 h5 a{
    font-size: .7em;
    line-height: 1.5em;
    text-transform: capitalize;
    text-decoration: none;
}
.agileits_updates_grid_left1 h5 a:focus{
  outline:none;
}
.agileits_updates_grid_left1 h5 a:hover{
}
.agileits_updates_grid_left1 p{
    color: #999;
    margin: 1em 0 0;
    line-height: 1.8em;
    font-size: .875em;
}
.agileits_updates_grid_left1:nth-child(2) {
    margin: 1.5em 0 0;
}
/*--widget sidebar--*/