<!-- sc_sponsors_main_head -->
<div class="head-boxes">
    <span class="head-boxes-head">$title</span>
<h2 class="head-h2">
    <span class="head-boxes-title">$title</span>
</h2>
    <p class="head-boxes-foot">$subtitle</p>
</div>
<!-- END -->
<!-- sc_sponsors_main_head_head -->
<div class="card">
    <div class="card-body" style="margin: -12px -12px -12px -12px;">
        <ul class="list-group list-group-flush">
<!-- END -->
<!-- sc_sponsors_main_side_content -->
            <li class="list-group-item text-center">$sponsor</li>
<!-- END -->
<!-- sc_sponsors_main_foot_foot -->
        </ul>
    </div>
</div>
<!-- END -->